@import 'vars.scss';
@import 'mixins.scss';
@import 'fonts.scss';

textarea {
	font: normal 13px Roboto;
}

.addarticle-form {
	@include flex;
	align-items: flex-start;
	padding: 32px 0 40px;
	@include borderBottom;
}

.left-sidebar {
	width: 19%;
	position: sticky;
	top: 15px;
}

.main-content {
	width: 57.5%;
}

.right-sidebar {
	width: 23.5%;
}

.star {
	top: -2px;
}

.pub-maininfo__inputs-container {
	background: $paleGray;
	padding: 15px;
	border-radius: 2px;
}

.pub-maininfo__input  {
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: inset 0 2px 2px 0 #0000000f;
	border: solid 1px #c4d2e1;
	background-color: #ffffff;
	outline: none;
	padding: 12px 15px;
	font-family: Roboto;
	color: $text;
	width: 100%;
	height: 40px;

	&:focus {
		outline: solid 1px darken(#c4d2e1, 5%);
	}
}

.pub-title {
	font-family: MuseoCyrl;
	font-size: 18px;
	font-weight: bold;
	color: $blue;
	position: relative;
}

.pub-format {
	border-radius: 2px;
	background-color: $paleGray;
	padding: 20px 0 40px;
	text-align: center; 

	&__title {
		margin-bottom: 16px;
	}

	&__format {
		height: 38px;
		width: 80%;
		margin: 0 auto;
		padding: 0 28px;
		text-transform: uppercase;
		border-radius: 18.5px;
		position: relative;
		z-index: 1;
		background: 0 0;
		font-weight: 700;
		line-height: 37px;
		color: #64686e;
		text-align: center;
		cursor: pointer;
		margin-bottom: 16px;
		transition: all 0.3s ease;
		outline: none;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			background: 0 0;
			border: 1px solid #c9c9c9;
			width: 100%;
			height: 37px;
			border-radius: 18.5px;
			-webkit-transition: .3s;
			transition: .3s;
		}

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			top: 3px;
			left: 3px;
			height: 39px;
			border-radius: 18.5px;
			background-color: #e8e9e9;
			z-index: -1;
			transition: .3s;
		}

		&_hover {
			&:not(.pub-format__format_selected) {
				color: $blue;

				&:before {
					border: solid 1px #94acc4;
				}

				&:after {
					background: #c4d2e1;
				}
			}
		}

		&_selected {
			color: #4e801a;

			&:before {
				border: solid 1px #90c952;
			}

			&:after {
				background: #c4dfa5;
			}
		}

		&-radio {
			width: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			position: absolute;
			height: 37px;
			outline: none;
		}
	}
}

.pub-thumbnail {
	padding-top: 20px;
	text-align: center;
	cursor: pointer;
	position: relative;

	&__title {
		margin-bottom: 10px;
	}

	&__image {
		z-index: 2;
		border-radius: 2px;
		border: solid 1px #e6e9f1;
		background-color: #ffffff;
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		transition: all 0.3s ease;

		&:after {
			@include pseudo('../images/icons/no-miniature-icon.svg', 70%, 70%);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.5;
			transition: all 0.3s ease;
		}

		&_loaded {
			&:after {
				display: none;
			}
		}

		&_hover {
			border: dashed 1px darken(#e6e9f1, 5%);

			&:after {
				opacity: 1;
			}
		}

		&:hover, &_onDrag {
			border: dashed 1px darken(#e6e9f1, 5%);

			&:after {
				opacity: 1;
			}
		}

		&_error {
			border: solid 1px #f8454b;
		}
		
		&-label {
			position: absolute;
			display: flex;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 3;
			cursor: pointer;
			justify-content: center;
			align-items: center;
			color: #73777d;
			font-size: 15px;
			font-weight: 500;
		}

		&-preview {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			object-fit: cover;

			&_loaded {
				display: block;
			}
		}
	}

	input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		z-index: -2;
	}
}

.pub-period {
	padding-top: 20px;
	text-align: center;

	input[name="period"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		z-index: -1;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__period-btn {
		color: #73777d;
		height: 40px;
		border-radius: 4px;
		box-shadow: 0 3px 7px 0 #0000000e, inset 0 -3px 0 0 #e0e4e8;
		border: solid 1px #c4d2e1;
		background-color: #fafafa;
		font-size: 15px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: relative;

		&_hover {
			border: solid 2px darken(#c4d2e1, 5%);
			box-shadow: 0 4px 8px 0 #0000000e, inset 0 -3px 0 0 #e0e4e8;
		}
	}

	&__period-icon {
		background: url(../images/icons/period-icon.svg) 0 0 / contain no-repeat;
		width: 19px;
		height: 9px;
		margin-right: 15px;
	}
}

.pub-theme {
	padding-top: 20px;
	text-align: center;

	&__title {
		margin-bottom: 10px;
	}

	&__input {
		width: 100%;
		height: 120px;
		color: #9b9b9b;

	}

	&__footer {
		margin-top: 17px;
		font-weight: 500;
		color: #9b9b9b;
	}
}

.pub-maininfo {
	padding: 30px 32px 0;

	&__maintitle {
		font-family: ALS;
		font-size: 32px;
		font-weight: bold;
		color: $blue;
		text-align: center;
		margin-bottom: 38px;

		&:after, &:before {
			content: '';
			display: inline-block;
			width: 6px;
			height: 13px;
			margin-bottom: 3px;
		}

		&:before {
			background: url(../images/icons/separator-h-1-left.svg);
			margin-right: 10px;
		}

		&:after {
			background: url(../images/icons/separator-h-1-right.svg);
			margin-left: 10px;
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 500;
		color: $blue;
		position: relative;
		margin-bottom: 7px;
		margin-left: 16px;
	}

	&__category-inputs-container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__category-input_main-category {
		margin-bottom: 15px;
	}

	&__category-label {
		font-size: 12px;
		font-weight: 500;
		color: #5b5b5b;
		display: inline-block;
		margin-bottom: 8px;
	}

	&__category-secoundary-inputs-container {
		width: 49%;
	}

	&__inputs-container {
		margin-bottom: 20px;
	}

	&__content-input {
		height: 400px;
	}

	&__SEO-description-input {
		height: 120px;
	}
}

.right-sidebar {
	border: none;
	padding: 0;
	text-align: center;
}

.pub-rules {
	border-radius: 2px;
	background-color: $paleGray;
	padding: 20px 15px 24px;
	text-align: left;
	border: none;

	&__title {
		@include flex;
		justify-content: center;
		@include borderBottom;
		padding-bottom: 15px;

		&-icon {
			width: 64px;
			height: 56px;
			display: inline-block;
			background: url(../images/icons/memo-icon.svg) 0 0 / contain no-repeat;
			margin-right: 10%;
		}

		&-text {
			font-family: ALS;
			font-size: 30px;
			font-weight: bold;
			color: $blue;
			width: 50%;
		}
	}

	&__rule {
		padding: 15px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		@include borderBottom;

		&:first-child {
			padding: 25px 0 15px;
		}

		&:last-child {
			border: none;
		}

		&-icon {
			width: 27px;
			background-position: center;
			-webkit-background-size: contain;
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			margin-right: 16px;

			&_temps {
				height: 30px;
				background-image: url(../images/icons/pravila-vosaduly-icon-sid-bar.svg);
			}

			&_decor {
				height: 30px;
				background-image: url(../images/icons/oformlenie-posta-icon-sibebar.svg);
			}

			&_images {
				height: 28px;
				background-image: url(../images/icons/image-size-icon-sidebar.svg);
			}
		}

		&-text {
			font-family: Roboto;
			font-size: 16px;
			color: #5b5b5b;
			width: 90%;
			line-height: 1.25;

		}

		&-link {
			color: #383aaa;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.pub-controls {
	border-radius: 2px;
	border: solid 1px #e6e9f1;
	background-color: #ffffff;
	padding: 0 15px;

	&_mt18px {
		margin-top: 18px;
	}

	&_mb30px {
		margin-bottom: 30px;
	}

	&__control {
		font-weight: 500;
		color: #5b5b5b;
		text-align: center;
		padding: 20px 0;
		@include borderBottom;

		&:last-child {
			border: none;
		} 
	}

	&__preview-icon, &__draft-icon {
		margin-right: 16px;
		display: inline-block;
	}

	&__preview-icon{
		width: 22px;
		height: 12px;
		transform: translateY(2px);
	}

	&__draft-icon {
		width: 18px;
		height: 17px;
		transform: translateY(4px);
	}

	&__link {
		@include flex;
		justify-content: center;
		margin: 0 auto 20px;
		display: inline-block;

		&_preview {
			width: 74%;
		}

		&_draft {
			width: 64%;
		}

		&:hover {
			.pub-controls__preview-icon, .pub-controls__draft-icon {
				svg {
					path:last-child {
						fill: $blue;
					}
				}
			}
		}
	}

	&__delete {
		color: #f8454b;

		&:hover {
			text-decoration: underline;
		}
	}
}

.publish-btn {
	margin: 0 auto;
	display: inline-block;
	position: relative;
	width: 60%;
	height: 37px;
	border: none;


	&__input {
		color: #4e801a;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		height: 37px;
		z-index: 1;
		background: transparent;
		border: none;
		border-radius: 18.5px;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		border: 1px solid #90c952;
		cursor: pointer;
		font-family: CeraPro;
  		font-size: 13px;
	}

	&__shadow {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 4px;
		top: 4px;
		width: 100%;
		background: #c4dfa5;
		height: 37px;
		border-radius: 18.5px;
		transition: all .3s ease;
	}

	&:hover {
		.publish-btn__input {
			color: darken(#4e801a, 5%);
			border: solid 1px darken(#90c952, 10%);
		}

		.publish-btn__shadow {
			top: 0;
			left: 0;
			background: darken(#c4dfa5, 5%);
		}		
	}
}

.period-modal {
	padding: 50px 16px 34px;

	&__title {
		position: absolute;
		top: 13px;
		left: 16px;
	}

	&__period-table {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto 25px;

		&-item {
			width: 33%;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 500;
			color: $blue;
			text-align: center;
			padding: 6px 0;
			cursor: pointer;
			background: #fff;
			transition: all 0.3s ease;

			&:hover {
				background: $paleGray;
			}

			&_selected {
				&:not(.period-modal__period-table-item_disabled) {
					background: #ffdeb0;

					&:hover {
						background: darken(#ffdeb0, 5%);
					}
				}
			}

			&_filled {
				background: #ffdeb0;

				&:hover {
					background: lighten(#ffdeb0, 5%);
				}
			}

			&_disabled {
				color: $lightGray;
				cursor: default;
			}
		}
	}

	&__enter-btn {
		padding: 0 53px;
	}
}

@media screen and (max-width: 1180px) {
	.pub-maininfo {
		padding: 30px 15px 0;
	}
}

@media screen and (max-width: 1050px) {
	.left-sidebar {
		display: block;
		width: 30%;
		/*top: 70px;*/
		position: relative;
		overflow-y: visible;
	}

	.addarticle-form {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.main-content {
		width: 70%;
	}
	.right-sidebar {
		width: 100%;
		position: static;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		max-height: initial;
		overflow-y: visible;
	}

	.pub-rules {
		width: 55%;
	}

	.pub-controls {
		width: 45%;
		margin: 0;
		border: none;
	}

	.publish-btn {
		width: 30%;
		margin: 0;
		transform: translate(-25%, -50px);
	}
}

@media screen and (max-width: 768px) {
	.pub-maininfo__maintitle {
		font-size: 24px;
	}

	.pub-maininfo__category-secoundary-inputs-container {
		width: 100%;

		
			margin-bottom: 15px;
		

		&:last-child {
			margin-bottom: 0;
		}
	}

	.pub-maininfo__content-input {
		height: 300px;
	}

	.pub-rules__rule-text {
		font-size: 14px;
	}

	.pub-period__period-btn {
		padding: 0 10px; 
		font-size: 13px;
	}


}

@media screen and (max-width: 576px) {
	.addarticle-form {
		padding: 0 0 30px;
	}

	.left-sidebar {
		width: 100%;
		max-height: initial;
	}

	.main-content {
		width: 100%;
		padding: 30px 0 0; 
	}

	.pub-thumbnail__image {
		width: 50%;
		padding-bottom: 50%;
		margin: 0 auto;
	}

	.pub-period__period-btn {
		width: 80%;
		margin: 0 auto;
	}

	.pub-rules {
		width: 100%;
	}

	.pub-rules__rule {
		align-items: center;
	}

	.pub-rules__rule:first-child {
		padding: 15px 0;
	}

	.pub-rules__rule-text {
		line-height: 1.5;
	}

	.pub-controls {
		width: 100%;
	}

	.publish-btn {
		transform: none;
		width: 80%;
		margin: 0 auto;
	}

	.pub-controls__link {
		width: 80%;
	}

	.pub-theme__footer {
		padding: 0	15px;
	}

	.pub-theme {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 395px) {
	.pub-maininfo__maintitle {
		font-size: 22px;
	}
}