@import 'vars.scss';
@import 'mixins.scss';

.search {
	width: 63%;	
}

.icons-section {
	width: 27%;
}

.icons-section__icon_podcasts {
	background: url(../images/icons/podcasts-icon.svg) 0 0 / contain no-repeat;
	width: 37px;
	height: 37px;
}

.icons-section__label_podcasts {
	font-family: CeraPRO;
    font-size: 13px;
    font-weight: bold;
    color: #fb3647;
}

.icons-section__icon_money {
	width: 30px;
	height: 37px;
	background: url(../images/icons/money-icon.PNG) 0 0 / contain no-repeat;
}

.icons-section__label_money {
	font-family: CeraPRO;
    font-size: 16px;
    font-weight: bold;
}

.sign-buttons__sign-up:hover {
	@include bHover;
}

.sign-buttons__sign-in {
	background: $mango;
	border: none;
	color: $dirtBrown;
	margin-left: 5px;
	border: 1px solid transparent;
	padding: 0 28px;

	&:before, &:after {
		display: none;
	}
}

.sign-buttons__sign-up {
	padding: 0 28px;
}

@media screen and (max-width: 1226px) {
	.main-menu {
		padding: 13px 20px 13px 26px;
	}

	.sign-buttons {
		display: none;
	}

	.logo__picture {
		width: 100px;
		height: 30px;
	}

	.search {
		width: 85%;
	}
}

@media screen and (max-width: 1140px) {

}