@import "vars.scss";
@import "fonts.scss";
@import "mixins.scss";

html, body {
    font-family: CeraPro;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    padding: 0;
    cursor: default;
    color: $text;
    background: #fff;
    position: relative;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

input, select, option, textarea {
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;   
    box-sizing: border-box;
}

.input {
    height: 40px;
    color: $text;
    padding: 0 16px;
    font-size: 16px;
    font-family: Roboto;
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 #0000000f;
    border: solid 1px #c4d2e1;
    background-color: #ffffff;
    font-weight: 500;

    @include placeholder {
        font-family: Roboto;
        font-size: 16px;
        color: #64686e;
        font-weight: normal;
    }
}

.edit-input {
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 #0000000f;
    border: solid 1px #c4d2e1;
    background-color: #ffffff;
    height: 37px;
    padding: 0 16px;
    font-family: CeraPRO;
    font-weight: 500;

}

select::-ms-expand {
    display: none;
}

select.edit-select {
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 3px 7px 0 #0000000e, inset 0 -3px 0 0 #e0e4e8;
    border: solid 1px #c4d2e1;
    background-color: #fafafa;
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    padding: 0 21px 0 16px;
    font-family: CeraPRO;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 9px;
        height: 7px;
      
    }
}

option {
    height: 40px;
    border: solid 1px #c4d2e1;
    background-color: #fafafa;
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    padding: 0 21px 0 16px;
    font-family: CeraPRO;
    position: relative;
}

.button {
    height: 37px;
    padding: 0 28px;
    text-transform: uppercase;
    border-radius: 18.5px;
    position: relative;
    z-index: 1;
    background: transparent;
    font-weight: bold;
    line-height: 37px;
    color: #64686e;
    text-align: center;

    &_green {
        height: 37px;
        padding: 0 28px;
        text-transform: uppercase;
        border-radius: 18.5px;
        position: relative;
        z-index: 1;
        background: transparent;
        font-weight: bold;
        line-height: 37px;
        color: #4e801a;
        text-align: center;

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0; 
            background: transparent;
            border: solid 1px #90c952;
            width: 100%;
            height: 37px;
            border-radius: 18.5px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 3px;
            top: 3px;
            width: 100%;
            background: #c4dfa5;
            height: 37px;
            border-radius: 18.5px;
            z-index: -1;  
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0; 
        background: transparent;
        border: solid 1px #ccd6e2;
        width: 100%;
        height: 37px;
        border-radius: 18.5px;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 3px;
        top: 3px;
        width: 100%;
        background: $paleGray;
        height: 37px;
        border-radius: 18.5px;
        z-index: -1;  
    }
}

.shadow {
    position: absolute;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 4px;
    top: 4px;
    width: 100%;
    background: $paleGray;
    height: 37px;
    border-radius: 18.5px;
    z-index: -1; 
}

.avatar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    border: solid 3px #ffffff;
    background-color: #d8d8d8;
    border-radius: 100%;
}

.search-input {
    height: 37px;
    border-radius: 18.5px;
    border: 1px solid $lightGray;
    padding: 0 21px;
    font-family: CeraPRO;
    font-size: 12px;
    font-weight: bold;
    color: $text;

    &:focus {
        outline: none;
    }
}

.submenu {
    width: 100%;
    border-bottom: 1px solid $lightGray;

    &__container {
        width: 40%;
        margin: 0 auto;
        padding: 9px 0 7px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: $lightBlue;
        font-size: 12px;
        font-weight: bold;
    }
}

.main-menu {
    padding: 13px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    &__picture {
        background: url(../img/icons/logo.svg) 0 0 / contain no-repeat;
        width: 151px;
        height: 40px;
    }
}

.search {
    width: 80%;
    position: relative;

    &__button {
        background: url(../img/icons/search-icon.svg) 0 0 / contain no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    &-input {
        width: 100%;
        background: transparent;
        z-index: 1;
        position: relative;
    }

    &__shadow {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 4px;
        top: 4px;
        width: 100%;
        background: $paleGray;
        height: 37px;
        border-radius: 18.5px;
    }
}

.icons-section {
    width: 38%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    display: none;

    &__item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    &__icon {
        display: inline-block;
        margin-right: 10px;
    }

    &__icon_contests {
        background: url(../img/icons/competition-icon-copy-2.svg) 0 0 / contain no-repeat;
        width: 43px;
        height: 32px;
    }

    &__icon_events {
        background: url(../img/icons/event-icon.svg) 0 0 / contain no-repeat;
        width: 19px;
        height: 26px;
    }

    &__icon_messages {
        background: url(../img/icons/message-icon.svg) 0 0 / contain no-repeat;
        width: 27px;
        height: 25px;
    }

    &__icon_feed {
        background: url(../img/icons/news-feed-icon.svg) 0 0 / contain no-repeat;
        width: 26px;
        height: 19px;
    }

    &__label {
        font-weight: bold;
        color: $blue;
    }
}

.user-info {
    width: auto;
    padding-right: 10px;

    &__avatar-picture {
      width: 35px;
      height: 35px;
  }
}

.nav-menu {
    width: 100%;

    &__container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fafafa;
        border-top: 2px solid $lightGray;
        border-bottom: 2px solid $lightGray;
        padding: 21px 25px;
    }

    &__separator {
        content: '';
        background: #d1d2d6;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        display: inline-block;
        margin-right: 18px;
        margin-left: 18px;
    }

    &__item_relax {
        padding-right: 15px;
    }

    &__item_shop {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        &:before {
            content: '';
            margin-right: 13px;
            display: inline-block;
            width: 26px;
            height: 25px;
            background: url(../img/icons/shop-icon.svg) 0 0 / contain no-repeat;
        }
    }

    &__tridot {
        background: url(../img/icons/tridot.svg) 0 0 / contain no-repeat;
        height: 27px;
        width: 5px;
        margin: 0 10px;
    }

    &__link {
        font-size: 18px;
        font-weight: bold;
        color: $blue;

        &_add-photo {
            color: $avocado;
            font-size: 18px;
            font-weight: 900;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            text-transform: uppercase;

            &:before {
                content: '';
                display: inline-block;
                background: url(../img/icons/plus.svg) 0 0 / contain no-repeat;
                width: 25px;
                height: 25px;
                padding-right: 10px;    
            }
        }
    }
}

.mobile-nav-menu {
    display: none;
    justify-content: space-between;
    padding: 19px 20px 19px 26px;
    background: #fafafa;
    align-items: center;

    &__burger {
        transition: all 0.3s ease;
        display: inline-block;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        height: 19px;
        width: 19px;

        span {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: $blue;
            height: 3px;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: 100%;
            }
        }
    }

    &__items {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        width: 90%;
        align-items: center;
    }

    &__item {
        margin-left: 50px;

        &_add-photo {
            margin-left: 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: flex-start;
        }
    }

    &__link {
        width: 19px;
        height: 19px;

        &_search {
            background: url(../img/icons/mobile-search-icon.svg) 0 0 / contain no-repeat;
        }

        &_tags {
            background: url(../img/icons/mobile-tags-icon.svg) 0 0 / contain no-repeat;
        }

        &_bookmarks {
            background: url(../img/icons/mobile-read-after-icon.svg) 0 0 / contain no-repeat;
        }

        &_add-photo-icon {
            background: url(../img/icons/plus.svg) 0 0 / contain no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 10px;    
        }

        &_add-photo {
           color: $avocado;
           font-size: 18px;
           font-weight: 900;
           text-transform: uppercase;
           display: inline-block;
           width: 100%;
           transform: translateY(-2px);
       }
   }

   &__item_tridot {
      background: url(../img/icons/tridot.svg) 0 0 / contain no-repeat;
      height: 27px;
      width: 5px;
      margin: 0 21px 0 28px;
  }   
}

.user-data {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px #e6e9f1;
    background-color: #ffffff;

    &_mt20px {
        margin-top: 20px;
    }

    &_mb20px {
        margin-bottom: 20px;
    }

    &__info {
        padding-top: 10%;
    }

    &__avatar {
        margin-left: 20px;
        display: inline-block;
        transform: translateY(35%);
        position: relative;

        &_online {
            &:before {
                content: '';
                background: #8dbc24;
                width: 12px;
                height: 12px;
                border: solid 2px #ffffff;
                position: absolute;
                left: 40px;
                top: 13px;
                border-radius: 100%;
            }
        }
    }

    &__avatar-picture {
        width: 254px;
        height: 254px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
        border: solid 1px #e6e9f1;
        background-color: #ffffff;
        border-radius: 45%;
    }

    &__text {
        display: inline-block;
        color: #fff;
        margin-left: 24px;
        margin-bottom: 57px;    
    }

    &__username {
        font-family: ALS;
        font-size: 49px;
        font-weight: bold;

    }

    &__bio {
        font-size: 16px;
        font-weight: bold;
    }
}

.actions {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &__add-friend, &__write-message {
     /* margin-right: 20px;*/
 }

 &__write-message {
    display: none;
}

&__more {
    padding: 0;
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 35px;
    display: none;
}
}

.content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid $lightGray;
    @include borderBottom;
    padding: 15px 0 40px;

    &_mt15px {
        margin-top: 17px;
    }
}

.profile-menu {
    width: 25%;
    background: #fff;
    border-radius: 2px;
    border: solid 1px #e6e9f1;
    padding: 26px 11px 28px 15px;
    transition: all 0.3s ease;
    position: sticky;
    top: 17px;

    svg {
        width: 29px;    
    }

    &__container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;

        &_active {
            svg path:last-child {
                transition: all 0.3s ease;
                fill: $violet;
            }
        }
    }

    &__item {
        width: 100%;

        &:last-child {
            .profile-menu__submenu .profile-menu__submenu-item:last-child {
                border: none;
            }
        }

        &_expand {
            .profile-menu__item-text {
                border-bottom: 1px dashed #e6e9f1;
            }
            
            .profile-menu__item-text:after {
                transform: rotate(90deg);

            }

            .profile-menu__submenu {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
            }
        }
    }

    &__item-text {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #5b5b5b;
        margin-left: 19px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;
        border-bottom: solid 1px #e6e9f1;

        &:after {
            content: '';
            background:url(../img/icons/arrow-list-right.svg) 0 0 / contain no-repeat;
            width: 5px;
            height: 7px;
            display: inline-block;
            margin-left: 5px;
            transition: all 0.3s ease;
        }
    }

    &__submenu {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 14px 0 0 47px;
        display: none;

        &-item {
            width: 100%;
            padding-bottom: 12px;
            

            &:last-child {
                padding-bottom: 16px;
                border-bottom: solid 1px #e6e9f1;

            } 

            &:before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                background: #cad4e1;
                border-radius: 100%;
                transform: translateY(-50%);
                margin-right: 10px;
            }
        }

        &-link {
          font-size: 14px;
          font-weight: 500;
          color: #5b5b5b;
      }
  }
}

.mobile-profile-menu {
    padding: 19px 17px;
    display: none;

    &__container {
        width: 80%;
        margin: 0 auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;

        &_active {
            svg path:last-child {
                transition: all 0.3s ease;
                fill: $violet;
            }
        }
    }
}

.main-content {
    width: 50%;
}

.triggers {
    margin-top: 20px;
    border: 1px solid $lightGray;
    border-radius: 2px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.trigger {
    border: none;
    border-radius: 0;
    width: 50%;
    font-weight: 500;
    line-height: 37px;
    color: #9b9b9b;
    text-transform: none;

    &:after {
        border-radius: 0;
        display: none;
    }

    &:before {
        border-radius: 0;
    }

    &:first-child {
        border-right: 1px solid $lightGray;
    }

    &_active {
        color: $darkGray;

        &:after {
            display: inline-block;
            left: 2px;
            top: 2px;
        }

    }
}

.blogs-menu {
    width: 25%;
    border-radius: 2px;
    border: solid 1px #e6e9f1;
    background: #ffffff;
    padding: 21px 16px 25px;
    position: sticky;
    top: 17px;

    & * {
        transition: all 0.3s ease;
    }

    &__header {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 70px;
        height: 50px;
        margin-right: 15px;
        background: url(../img/icons/blogs-icon-left-sidebar.svg) 0 0 / contain no-repeat;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        line-height: 0.77;
        margin-right: 15px;
    }

    &__add-post {
        width: 43px;
        height: 30px;
        background: url(../img/icons/plus.svg) 0 0 / contain no-repeat;
    }


    &__item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 21px;
        @include borderBottom;

        &:last-child {
            border-bottom: none;
        }
        
        &-avatar {
            margin-right: 20px;
        }

        &-avatar-picture {
            width: 49px;
            height: 49px;
        }

        &-info {
            color: $darkGray;

        }

        &-header {
            font-size: 12px;
            font-weight: 500;
        }

        &-name {
            margin-right: 16px;
        }

        &-date {
            color: #9b9b9b;
        }

        &-text {
            margin-top: 8px;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: bold;
        }

        &-footer {
         & * {
            font-weight: 500;
            margin-right: 14px;

            &:before {
                content: '';
                display: inline-block;
                margin-right: 5px;
                margin-bottom: -2px;
            }
        }
    }

    &-likes {
        &:before {
            width: 13px;
            height: 11px;
            background: url(../img/icons/heart-icon.svg) 0 0 / contain no-repeat;
        }
    }

    &-comments {
        &:before {
            width: 13px;
            height: 11px;
            background: url(../img/icons/comment-icon.svg) 0 0 / contain no-repeat;
        }
    }

    &-bookmarks {
        &:before {
            width: 7px;
            height: 11px;
            background: url(../img/icons/read-after.svg) 0 0 / contain no-repeat;
        }
    }
}

&__navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: solid 1px $lightGray;
    border-top: none;
    height: 37px;
    align-items: center;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: -78px;
        left: 0;
        height: 77px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 90%);
    } 
}

&__prev, &__next {
    width: 30%;
    text-align: center;
    line-height: 37px;

    svg path {
        fill: $darkGray;
    }

    &_disabled {
        cursor: default;

        svg path {
            fill: #A0A0A0;
        }
    }
}

&__all-blogs {
    width: 40%;
    border-left: solid 1px $lightGray;
    border-right: solid 1px $lightGray;
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    color: $darkGray;
}

&__add-button {
 background: $mango;
 width: 100%;
 margin-top: 25px;
 font-weight: bold;
 color: $dirtBrown;
 text-transform: none;

 &:before, &:after {
    display: none;
}
}
}

@media screen and (max-width: 1226px) {
   .nav-menu {
    display: none;
}

.mobile-nav-menu {
    display: flex;
}

}

@media screen and (max-width: 1180px) {
    .submenu__container {
        width: 60%;
    }



    .journal-slider__photo:last-child {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
 .main-content {
    width: 60%;
}

.blogs-menu {
    width: 40%;
}

.mobile-profile-menu {
    display: block;
}


.profile-menu {
    display: none;
}

.user-data__username {
    font-size: 46px;
}
}


@media screen and (max-width: 768px) {
    .submenu {
        display: none;
    }

    .search {
        display: none;
    }

    .icons-section__label {
        display: none;
    }

    .main-menu {
        padding: 0;
    }

    .user-data__avatar {
        &_online {
            &:before {
                left: 25px;
                top: 7px; 
            }
        }
    }

    .user-data__avatar-picture {
        width: 176px;
        height: 176px;
    }

    .user-data__text {
        margin-bottom: 28px;
    }

    .user-data__username {
        font-size: 42px;
    }

    .user-data_mt20px {
        margin-top: 0;
    }

    .profile-menu {
        display: none;
    }

    .main-content {
        width: 59%;
    }

    .blogs-menu {
        width: 41%;
    }
}

@media screen and (max-width: 690px) {
    .user-data__username {
        font-size: 34px;
    }

    .main-content {
        width: 100%;
    }

    .blogs-menu {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .user-data__info {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .user-data__username {
        font-size: 34px;
        width: 50%;
    }

    .user-data__bio {
        width: auto;
    }

    .user-data__text {
        width: auto;
    }

    .mobile-nav-menu__link_add-photo {
        display: none;
    }

    .mobile-nav-menu__link_add-photo-icon {
        margin-right: 0;
    }

    .user-data__avatar {
        transform: translateY(15%);
    }

    .actions {
        padding-left: 35%;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .mobile-profile-menu {
        padding: 19px 20px 19px 26px;
    }



    .mobile-profile-menu__container {
        width: 100%;
    }

    .user-data__avatar {
        &_online {
            &:before {
                left: 25px;
                top: 2px; 
            }
        }
    }

    .user-data__info {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
    }

    .user-data__avatar {
        transform: translateY(15%);
    }

    .user-data__avatar-picture {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 440px) {
    .user-data__username {
        font-size: 24px;
    }

    .user-data__bio {
        font-size: 12px;
    }

    .button, .button_green {
        font-size: 12px;
        height: 30px;
        line-height: 30px;

        &:before {
            height: 30px;
        }

        &:after {
            height: 30px;
        }
    }
}

@media screen and (max-width: 395px) {
    .actions {
        padding: 0 20px;
        justify-content: center;
    }

    .user-data__avatar {
        transform: none;
    }

    .mobile-nav-menu__item {
        margin-left: 30px;
    }

    .user-data__avatar-picture {
        height: 100px;
        width: 100px;
    }

    .user-data__info {
        align-items: center;
        padding-bottom: 10%;
        padding-right: 20px;
    }

    .user-data__username {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .user-data__text {
        margin-bottom: 0;
        margin-left: 15px;
    }

    .user-data__avatar {
        &_online {
            &:before {
                left: 7px;
                top: 5px; 
                height: 10px;
                width: 10px;
            }
        }
    }
}