@import "vars.scss";
@import "fonts.scss";
@import "mixins.scss";

html, body {
    font-family: CeraPro;
    font-weight: normal;
    font-size: 13px;
    margin: 0;
    padding: 0;
    cursor: default;
    color: $text;
    background: #fff;
    position: relative;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

input, input[type="submit"], select, option, textarea, button {
    appearance: none;           
    -webkit-appearance: none; 
    -moz-appearance: none;   
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.input {
    height: 40px;
    color: $text;
    padding: 0 16px;
    font-size: 16px;
    font-family: Roboto;
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 #0000000f;
    border: solid 1px #c4d2e1;
    background-color: #ffffff;
    font-weight: 500;

    @include placeholder {
        font-family: Roboto;
        font-size: 16px;
        color: #64686e;
        font-weight: normal;
    }
}

.edit-input {
    border-radius: 2px;
    box-shadow: inset 0 2px 2px 0 #0000000f;
    border: solid 1px #c4d2e1;
    background-color: #ffffff;
    height: 37px;
    padding: 0 16px;
    font-family: CeraPRO;
    font-weight: 500;

}

select::-ms-expand {
    display: none;
}

select.edit-select {
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 3px 7px 0 #0000000e, inset 0 -3px 0 0 #e0e4e8;
    border: solid 1px #c4d2e1;
    background-color: #fafafa;
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    padding: 0 21px 0 16px;
    font-family: CeraPRO;
    position: relative;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 9px;
        height: 7px;

    }
}

option {
    height: 40px;
    border: solid 1px #c4d2e1;
    background-color: #fafafa;
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    padding: 0 21px 0 16px;
    font-family: CeraPRO;
    position: relative;
}

.ad {
    width: 100%;
    height: auto;
}

.button {
    height: 37px;
    padding: 0 28px;
    text-transform: uppercase;
    border-radius: 18.5px;
    position: relative;
    z-index: 1;
    background: transparent;
    font-weight: bold;
    line-height: 37px;
    color: #64686e;
    text-align: center;

    &_green {
        height: 37px;
        padding: 0 28px;
        text-transform: uppercase;
        border-radius: 18.5px;
        position: relative;
        z-index: 1;
        background: transparent;
        font-weight: bold;
        line-height: 37px;
        color: #4e801a;
        text-align: center;

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0; 
            background: transparent;
            border: solid 1px #90c952;
            width: 100%;
            height: 37px;
            border-radius: 18.5px;
            transition: all 0.3s ease;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 3px;
            top: 3px;
            width: 100%;
            background: #c4dfa5;
            height: 37px;
            border-radius: 18.5px;
            z-index: -1;  
            transition: all 0.3s ease;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0; 
        background: transparent;
        border: solid 1px #ccd6e2;
        width: 100%;
        height: 37px;
        border-radius: 18.5px;
        transition: all 0.3s ease;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 3px;
        top: 3px;
        width: 100%;
        background: $paleGray;
        height: 37px;
        border-radius: 18.5px;
        z-index: -1;  
        transition: all 0.3s ease;
    }
}

.star {
    color: #f8454b;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: -5px;
}

.shadow {
    position: absolute;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 4px;
    top: 4px;
    width: 100%;
    background: $paleGray;
    height: 37px;
    border-radius: 18.5px;
    z-index: -1; 
}

.avatar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    border: solid 3px #ffffff;
    background-color: #d8d8d8;
    border-radius: 100%;
}

.overlay {
    background: $blue;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: block;

    &_disabled {
        display: none;
    }
}

.modal {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background: #fff;
    padding: 35px 48px 25px;
    max-width: 480px;
    text-align: center;
    max-height: 100vh;

    &_disabled {
        display: none;
    }

    &__close {
        height: 12px;
        width: 12px;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;

        path {
            transition: all 0.3s ease;
        }

        &:hover {
            path {
                opacity: 0.5;
            }
        }
    }

    &__title {
        font-family: MuseoCyrl;
        font-size: 34px;
        font-weight: bold;
        color: $blue;
        text-align: center;
        display: block;


        &:before {
            @include pseudo('../images/icons/separator-h-1-left.svg', 6px, 13px);
            margin-bottom: 3px;
            margin-right: 10px;
        }

        &:after {
            @include pseudo('../images/icons/separator-h-1-right.svg', 6px, 13px);
            margin-bottom: 3px;
            margin-left: 10px;
        }
    }

    &__socials {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 25px auto;
    }

    &__soc-icon {
        svg {
            width: 35px;
            height: 35px;
        }   
    }

    &__separator {
        color: #5b5b5b;
        font-size: 14px;
        position: relative;
        display: block;
        text-align: center;
        
        &:before, &:after {
            content: '';
            height: 1px;
            width: 43%;
            background-color: #5b5b5b;
            position: absolute;
            opacity: 0.3;
            top: 50%;
            
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    &__form {
        margin: 23px 0 25px;
        text-align: center;
    }

    &__input-container {
        margin-bottom: 11px;
    }

    &__input-wrapper {
        border-radius: 2px;
        background-color: $paleGray;
        padding: 15px;
        position: relative;
    }

    &__label {
        font-size: 14px;
        font-weight: 500;
        color: #5b5b5b;
        margin-bottom: 7px;
        text-align: center;
        position: relative;
    }

    &__input {
        height: 40px;
        border-radius: 2px;
        box-sizing: border-box;
        box-shadow: inset 0 2px 2px 0 lighten(#c4d2e1, 13%);
        border: solid 1px #c4d2e1;
        background-color: #ffffff;
        width: 100%;
        padding: 0 15px;
        text-align: center;
        outline: none;
        font-family: Roboto;
        font-size: 17px;
        font-weight: 500;
        color: $blue;
    }

    &__btn {
        color: #4e801a;
        font-family: MuseoCyrl;
        font-size: 19px;
        font-weight: bold;
        height: 37px;
        cursor: pointer;
        background: transparent;
        border-radius: 23.5px;
        border: solid 1px #90c952; 
        padding: 0 50px;


        text-align: center;

        &-shadow {
            position: absolute;
            top: 4px;
            left: 4px;
            background: #c4dfa5;
            width: 100%;
            height: 37px;
            z-index: -1;
            display: inline-block;
            border-radius: 23.5px;
        }
    }
}

.sign-in-modal, .sign-up-modal {
    &__input {
        &_password {
            font-size: 32px;
        }
    }

    &__show-pass {
        position: absolute;
        width: 16px;
        height: 14px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &_showed {
            font-size: 17px;
        }
        
        path {
            transition: all 0.3s ease;
        }

        &:hover {
            path {
                opacity: 0.7;
            }
        }
    }

    &__bottom-inputs {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rememberme-checkbox {
        width: 12px;
        height: 12px;
        border: 1px solid #c4d2e1;
        border-radius: 1px;
        margin-right: 7px;
        outline: none;
        cursor: pointer;

        &:checked {
            background: url(../images/icons/checkmark-icon.svg) 0 0 / contain no-repeat;
        }
    }

    &__rememberme-label, &__forget-password {
        font-size: 12px;
        font-weight: 500;
        color: #5b5b5b;   
        cursor: pointer;
    }

    &__enter-btn-container {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        display: inline-block;
        margin-top: 12px;
    }

    &__register-btn {
        font-size: 12px;
        font-weight: 500;
        color: #45aaf2;   
    }
}

.sign-up-modal {

    &__form {
        margin: 23px 0 0;
    }

    &__register-btn-container {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        display: inline-block;
        margin-top: 12px;
    }

    &__register-btn {
        color: #4e801a;
        font-size: 19px;
        font-weight: bold;  
    }

    &__registered-btn {
        font-size: 14px;
        font-weight: 500;
        color: #45aaf2;  
        margin-top: 25px; 
        margin-bottom: 21px;
    }

    &__policyaccept-checkbox {
        width: 12px;
        height: 12px;
        border: 1px solid #c4d2e1;
        border-radius: 1px;
        margin-right: 7px;
        outline: none;
        cursor: pointer;

        &:checked {
            background: url(../images/icons/checkmark-icon.svg) 0 0 / contain no-repeat;
        }
    }

    &__policyaccept-label {
        font-size: 12px;
        font-weight: 500;
        color: #5b5b5b;
        cursor: pointer;
    }

    &__policyaccept-temps {
        color: #1e5cd6;

        &:hover {
            text-decoration: underline;
        }
    }
}

.search-input {
    height: 37px;
    border-radius: 18.5px;
    border: 1px solid $lightGray;
    padding: 0 21px;
    font-family: CeraPRO;
    font-size: 12px;
    font-weight: bold;
    color: $text;

    &:focus {
        outline: none;
    }
}

.submenu {
    width: 100%;
    border-bottom: 1px solid $lightGray;

    &__container {
        width: 40%;
        margin: 0 auto;
        padding: 9px 0 7px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: $lightBlue;
        font-size: 12px;
        font-weight: bold;
    }
}

.main-menu {
    padding: 13px 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    &__picture {
        background: url(../images/icons/logo.svg) 0 0 / contain no-repeat;
        width: 151px;
        height: 40px;
    }
}

.search {
    width: 80%;
    position: relative;

    &__button {
        background: url(../images/icons/search-icon.svg) 0 0 / contain no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    &-input {
        width: 100%;
        background: transparent;
        z-index: 1;
        position: relative;
    }

    &__shadow {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 4px;
        top: 4px;
        width: 100%;
        background: $paleGray;
        height: 37px;
        border-radius: 18.5px;
    }
}

.icons-section {
    width: 38%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    display: none;

    &__item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    &__icon {
        display: inline-block;
        margin-right: 10px;
    }

    &__icon_contests {
        background: url(../images/icons/competition-icon-copy-2.svg) 0 0 / contain no-repeat;
        width: 43px;
        height: 32px;
    }

    &__icon_events {
        background: url(../images/icons/event-icon.svg) 0 0 / contain no-repeat;
        width: 19px;
        height: 26px;
    }

    &__icon_messages {
        background: url(../images/icons/message-icon.svg) 0 0 / contain no-repeat;
        width: 27px;
        height: 25px;
    }

    &__icon_feed {
        background: url(../images/icons/news-feed-icon.svg) 0 0 / contain no-repeat;
        width: 26px;
        height: 19px;
    }

    &__label {
        font-weight: bold;
        color: $blue;
    }
}

.user-info {
    width: auto;
    padding-right: 10px;

    &__avatar-picture {
      width: 35px;
      height: 35px;
      object-fit: cover;
  }
}

.nav-menu {
    width: 100%;

    &__container {
        height: 55px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fafafa;
        border-top: 2px solid $lightGray;
        border-bottom: 2px solid $lightGray;
        padding: 0 25px;
    }

    &__separator {
        content: '';
        background: #d1d2d6;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        display: inline-block;
        margin-right: 18px;
        margin-left: 18px;
    }

    &__item_relax {
        padding-right: 15px;
    }

    &__item_shop {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;

        &:before {
            content: '';
            margin-right: 13px;
            display: inline-block;
            width: 26px;
            height: 25px;
            background: url(../images/icons/shop-icon.svg) 0 0 / contain no-repeat;
        }
    }

    &__tridot {
        background: url(../images/icons/tridot.svg) 0 0 / contain no-repeat;
        height: 27px;
        width: 5px;
        margin: 0 10px;
    }

    &__link {
        font-size: 18px;
        font-weight: bold;
        color: $blue;
        font-family: MuseoCyrl;

        &_add-photo {
            color: $avocado;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            text-transform: uppercase;
            font-family: MuseoCyrl;
            font-size: 14px;
            font-weight: 900;
            align-items: center;

            &:before {
                content: '';
                display: inline-block;
                background: url(../images/icons/plus.svg) 0 0 / contain no-repeat;
                width: 25px;
                height: 25px;
                padding-right: 10px;    
            }
        }
    }
}

.mobile-nav-menu {
    display: none;
    justify-content: space-between;
    padding: 0 20px 0 26px;
    background: #fafafa;
    align-items: center;
    height: 55px;

    &__burger {
        transition: all 0.3s ease;
        display: inline-block;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        height: 19px;
        width: 19px;

        span {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: $blue;
            height: 3px;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: 100%;
            }
        }
    }

    &__items {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
        width: 90%;
        align-items: center;
    }

    &__item {
        margin-left: 50px;

        &_add-photo {
            margin-left: 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
        }
    }

    &__link {
        width: 19px;
        height: 19px;

        &_search {
            background: url(../images/icons/mobile-search-icon.svg) 0 0 / contain no-repeat;
        }

        &_tags {
            background: url(../images/icons/mobile-tags-icon.svg) 0 0 / contain no-repeat;
        }

        &_bookmarks {
            background: url(../images/icons/mobile-read-after-icon.svg) 0 0 / contain no-repeat;
        }

        &_add-photo-icon {
            background: url(../images/icons/plus.svg) 0 0 / contain no-repeat;
            width: 25px;
            height: 25px;
            margin-right: 10px;    
        }

        &_add-photo {
            color: $avocado;
            font-family: MuseoCyrl;
            font-size: 13px;
            font-weight: 900;
            text-transform: uppercase;
            display: inline-block;
            width: 100%;
            transform: translateY(-2px);
     }
 }

 &__item_tridot {
  background: url(../images/icons/tridot.svg) 0 0 / contain no-repeat;
  height: 27px;
  width: 5px;
  margin: 0 21px 0 28px;
}   
}

.user-data {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
    /*border: solid 1px #e6e9f1;*/
    background-color: #ffffff;
    

    &_mt20px {
        margin-top: 20px;
    }

    &_mb20px {
        margin-bottom: 20px;
    }

    &__info {
        padding-top: 5%;
        height: 376px;
    }

    &__avatar {
        margin-left: 20px;
        display: inline-block;
        transform: translateY(35%);
        position: relative;

        &_online {
            &:before {
                content: '';
                background: #8dbc24;
                width: 12px;
                height: 12px;
                border: solid 2px #ffffff;
                position: absolute;
                left: 40px;
                top: 13px;
                border-radius: 100%;
            }
        }
    }

    &__avatar-picture {
        width: 254px;
        height: 254px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
        border: solid 2px #e6e9f1;
        background-color: #ffffff;
        border-radius: 43%;
        object-fit: cover;
    }

    &__text {
        display: inline-block;
        color: #fff;
        margin-left: 24px;
        margin-bottom: 57px;    
    }

    &__username {
        font-family: ALS;
        font-size: 49px;
        font-weight: bold;

    }

    &__bio {
        font-size: 16px;
        font-weight: bold;
    }
}

.actions {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &__add-friend, &__write-message {
       /* margin-right: 20px;*/
   }

   &__add-friend {
    color: #4e801a;
    transition: all 0.3s ease;

    &:before {
        border: solid 1px #90c952;
    }

    &:after {
        background: #c4dfa5;
    }

    &_sended {
        color: #64686e;

        &:before {
            border: 1px solid #ccd6e2;
        }

        &:after {
            background: #f4f7fb;
        }
    }
}

&__write-message {
    display: none;
}

&__more {
    padding: 0;
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 35px;
    display: none;
}
}

.content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid $lightGray;
    @include borderBottom;
    padding: 15px 0 40px;

    &_mt15px {
        margin-top: 17px;
    }
}

.profile-menu {
    width: 23.5%;
    background: #fff;
    border-radius: 2px;
    border: solid 1px #e6e9f1;
    padding: 26px 11px 28px 15px;
    transition: all 0.3s ease;
    position: sticky;
    top: 17px;

    svg {
        width: 27px;    
    }

    &__link {
        &-profile {
            svg {
              
            }
        }
    }

    &__container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;

        &_active {
            svg path:last-child {
                transition: all 0.3s ease;
                fill: $violet;
            }
        }
    }

    &__item {
        width: 100%;

        &:hover {
            .profile-menu__item-text {
                color: darken(#5b5b5b, 5%);
            }

            .profile-menu__item-text:after {
                margin-left: 10px;
            }

            .profile-menu__item-icon svg path:last-child {
                fill: darken(#94ACC4, 5%);
            }
        }

        &:last-child {
            .profile-menu__submenu .profile-menu__submenu-item:last-child {
                border: none;
            }
        }

        &_expand {
            .profile-menu__item-text {
                border-bottom: 1px dashed #e6e9f1;
            }
            
            .profile-menu__item-text:after {
                transform: rotate(90deg);
            }

            .profile-menu__submenu {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
            }
        }
    }

    &__item-text {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #5b5b5b;
        margin-left: 19px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 2px;
        border-bottom: solid 1px #e6e9f1;
        transition: all 0.3s ease;

        &:after {
            content: '';
            background:url(../images/icons/arrow-list-right.svg) 0 0 / contain no-repeat;
            width: 5px;
            height: 7px;
            display: inline-block;
            margin-left: 5px;
            transition: all 0.3s ease;
        }
    }

    &__submenu {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 14px 0 0 47px;
        display: none;

        &-item {
            width: 100%;
            padding-bottom: 12px;
            

            &:last-child {
                padding-bottom: 16px;
                border-bottom: solid 1px #e6e9f1;

            } 

            &:before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                background: #cad4e1;
                border-radius: 100%;
                transform: translateY(-50%);
                margin-right: 10px;
            }
        }

        &-link {
          font-size: 14px;
          font-weight: 500;
          color: #5b5b5b;
      }
  }
}

.mobile-profile-menu {
    padding: 19px 17px;
    display: none;

    &__container {
        width: 80%;
        margin: 0 auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;

        &_active {
            svg path:last-child {
                transition: all 0.3s ease;
                fill: $violet;
            }
        }
    }
}

.main-content {
    width: 53%;
}

.triggers {
    margin-top: 20px;
    border: 1px solid $lightGray;
    border-radius: 2px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.trigger {
    border: none;
    border-radius: 0;
    width: 50%;
    font-weight: 500;
    line-height: 37px;
    color: #9b9b9b;
    text-transform: none;

    &:after {
        border-radius: 0;
        display: none;
    }

    &:before {
        border-radius: 0;
    }

    &:first-child {
        border-right: 1px solid $lightGray;
    }

    &_active {
        color: $darkGray;
        font-weight: bold;

        &:after {
            display: inline-block;
            left: 2px;
            top: 2px;
        }

    }
}

.right-sidebar {
    width: 23.5%;
    border-radius: 2px;
    border: solid 1px #e6e9f1;
    background: #ffffff;
    padding: 21px 16px 25px;
    position: sticky;
    top: 17px;

    & * {
        transition: all 0.3s ease;
    }

    &__ad {
        border-radius: 2px;
        border: solid 1px #e6e9f1;
        background-color: #fff;
        padding: 14px;
    }
}

.blogs-menu {
    width: 23.5%;
    border-radius: 2px;
    border: solid 1px #e6e9f1;
    background: #ffffff;
    padding: 21px 16px 25px;
    position: sticky;
    top: 17px;

    & * {
        transition: all 0.3s ease;
    }

    &__header {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 70px;
        height: 50px;
        margin-right: 15px;
        background: url(../images/icons/blogs-icon-left-sidebar.svg) 0 0 / contain no-repeat;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        line-height: 0.77;
        margin-right: 15px;
        font-family: MuseoCyrl;
    }

    &__add-post {
        width: 43px;
        height: 30px;
        background: url(../images/icons/plus.svg) 0 0 / contain no-repeat;
    }

    &__triggers {
        border: none;
    }


    &__item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 21px;
        @include borderBottom;

        &:last-child {
            border-bottom: none;
        }
        
        &-avatar {
            margin-right: 20px;
        }

        &-avatar-picture {
            width: 49px;
            height: 49px;
        }

        &-info {
            color: $darkGray;

        }

        &-header {
            font-size: 12px;
            font-weight: 500;
        }

        &-name {
            margin-right: 16px;
        }

        &-date {
            color: #9b9b9b;
        }

        &-text {
            margin-top: 8px;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: bold;
        }

        &-footer {
            & * {
                font-weight: 500;
                margin-right: 14px;

                &:before {
                    content: '';
                    display: inline-block;
                    margin-right: 5px;
                    margin-bottom: -2px;
                }
            }
        }

        &-likes {
            &:before {
                width: 13px;
                height: 11px;
                background: url(../images/icons/heart-icon.svg) 0 0 / contain no-repeat;
            }
        }

        &-comments {
            &:before {
                width: 13px;
                height: 11px;
                background: url(../images/icons/comment-icon.svg) 0 0 / contain no-repeat;
            }
        }

        &-bookmarks {
            &:before {
                width: 7px;
                height: 11px;
                background: url(../images/icons/read-after.svg) 0 0 / contain no-repeat;
            }
        }
    }

    &__navigation {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        border: solid 1px $lightGray;
        border-top: none;
        height: 37px;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -78px;
            left: 0;
            height: 77px;
            width: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 90%);
        } 
    }

    &__prev, &__next {
        width: 30%;
        text-align: center;
        line-height: 37px;

        svg {
            width: 12px;
            height: 7px;
        }

        svg path {
            fill: $darkGray;
        }

        &_disabled {
            cursor: default;

            svg path {
                fill: #A0A0A0;
            }
        }
    }

    &__all-blogs {
        width: 40%;
        border-left: solid 1px $lightGray;
        border-right: solid 1px $lightGray;
        text-align: center;
        line-height: 33px;
        font-weight: bold;
        color: $darkGray;
    }

    &__add-button {
        background: $mango;
        width: 100%;
        margin-top: 25px;
        font-weight: bold;
        color: $dirtBrown;
        text-transform: none;

        &:before, &:after {
            display: none;
        }
    }
}

.tabs {
    @include flex;
    justify-content: center;
    margin: 0 auto;
}

.tab {
    font-weight: bold;
    color: $blue;
    text-align: center;
    position: relative;
    padding: 14px 20px;
    height: 37px;
    z-index: 1;
    cursor: pointer;
    margin-right: 4%;

    &:last-child {
        margin-right: 0;
    }

    &-count {
        position: absolute;
        top: -15px;
        right:-10px;
    }

    &_selected {
        &:before, &:after {
            content: '';
            height: 37px;
            width: 100%;
            position: absolute;
        }

        &:before {
            border-radius: 2px;
            border: 1px solid #94acc4;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &:after {
            border-radius: 2px;
            background-color: #c4d2e1;
            top: 5px;
            left: 5px;
            z-index: -1;
        }
    }
}

.navigation {
    @include flex;
    justify-content: center;

    &-page, &-totalpages {
        width: 44px;
        height: 44px;
        border: solid 1px #e5e5e5;
        border-radius: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: $text;
    }

    &-page {
        margin-right: 12px;

        &_selected {
            background: #c4d2e1;
        }
    }

    &-separator {
        font-size: 16px;
        font-weight: 500;
        margin-right: 12px;
    }
}

@media screen and (max-width: 1226px) {
     .nav-menu {
        display: none;
    }

    .mobile-nav-menu {
        display: flex;
    }
}

@media screen and (max-width: 1180px) {
    .submenu__container {
        width: 60%;
    }

    .journal-slider__photo:last-child {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
   .main-content {
        width: 60%;
    }
    .user-data_mt20px {
        margin-top: 0;
    }

    .blogs-menu, .right-sidebar {
        width: 40%;
    }

    .mobile-profile-menu {
        display: block;
    }

    .profile-menu, .left-sidebar {
        display: none;
    }

    .user-data__username {
        font-size: 46px;
    }
}


@media screen and (max-width: 768px) {
    .submenu {
        display: none;
    }

    .search {
        display: none;
    }

    .icons-section__label {
        display: none;
    }

    .user-data_m15px {
     margin: 0 15px 20px;
 }

 .user-data__avatar {
    &_online {
        &:before {
            left: 25px;
            top: 7px; 
        }
    }
}

.user-data__avatar-picture {
    width: 176px;
    height: 176px;
}

.user-data__text {
    margin-bottom: 28px;
}

.user-data__username {
    font-size: 42px;
}

.user-data_mt20px {
    margin-top: 0;
}

.user-data__info {
    height: 296px;
}

.profile-menu {
    display: none;
}

.main-content {
    width: 59%;
}

.blogs-menu, .right-sidebar {
    width: 41%;
}

.sign-up-modal__register-btn {
    padding: 0;
    font-size: 17px;
    width: 100%;
}

.sign-up-modal__register-btn-container {
    width: 100%;
}
}

@media screen and (max-width: 690px) {
    .user-data__username {
        font-size: 32px;
    }

    .main-content {
        width: 100%;
    }

    .blogs-menu, .right-sidebar {
        display: none;
    }

    .user-data__text {
        margin-left: 20px;
    }

    .modal {
        width: 65%;
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {

    .user-data__info {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .user-data__username {
        font-size: 32px;
        width: 50%;
    }

    .user-data__bio {
        width: auto;
    }

    .user-data__text {
        width: auto;
    }

    .mobile-nav-menu__link_add-photo {
        display: none;
    }

    .mobile-nav-menu__link_add-photo-icon {
        margin-right: 0;
    }

    .user-data__avatar {
        transform: translateY(15%);
    }

    .actions {
        padding-left: 35%;
        justify-content: flex-start;
    }

    .modal {
        width: 80%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 480px) {
    .mobile-profile-menu {
        padding: 19px 20px 19px 26px;
    }

    .mobile-profile-menu__container {
        width: 100%;
    }

    .user-data__avatar {
        &_online {
            &:before {
                left: 25px;
                top: 2px; 
            }
        }
    }

    .user-data__info {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: flex-end;
        height: 230px;
    }

    .user-data__avatar {
        transform: translateY(15%);
    }

    .user-data__avatar-picture {
        width: 150px;
        height: 150px;
    }

    .navigation-page {
        &:nth-last-child(3) {
           display: none;
       }
   }
}

@media screen and (max-width: 440px) {
    .user-data__username {
        font-size: 24px;
    }

    .user-data__bio {
        font-size: 12px;
    }

    .button, .button_green {
        font-size: 12px;
        height: 30px;
        line-height: 30px;

        &:before {
            height: 30px;
        }

        &:after {
            height: 30px;
        }
    }

    .modal {
        width: 100%;
    }

    .navigation-page, .navigation-totalpages {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 395px) {
    .actions {
        padding: 0 20px;
        justify-content: center;
    }

    .user-data__avatar {
        transform: none;
    }

    .mobile-nav-menu__item {
        margin-left: 30px;
    }

    .user-data__avatar-picture {
        height: 100px;
        width: 100px;
    }

    .user-data__info {
        align-items: center;
        padding-bottom: 10%;
        padding-right: 20px;
    }

    .user-data__username {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .user-data__text {
        margin-bottom: 0;
        margin-left: 15px;
    }

    .user-data__avatar {
        &_online {
            &:before {
                left: 7px;
                top: 5px; 
                height: 10px;
                width: 10px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .sign-up-modal {
        height: 100%;
    }
}

@media screen and (max-height: 670px) {
    .modal {
        max-height: 100vh;
        padding: 20px 28px 10px;

        &__title {
            font-size: 28px;

            &:before, &:after {
                width: 4px;
                height: 10px;
            }
        }

        &__socials {
            margin: 15px auto;
        }

        &__input {
            height: 30px;

            &-wrapper {
                padding: 10px;
            }
        }

        &__btn {
            height: 35px;
            padding: 0;
            width: 100%;        

            &-shadow {
                height: 35px;
            }
        }
    }

    .sign-in-modal {
        padding: 20px 28px 15px;
    }

    .sign-up-modal__register-btn-container, 
    .sign-in-modal__enter-btn-container {
        margin: 10px auto 0;
        width: 100%;
    }

    .sign-in-modal__enter-btn-container {
        margin: 15px auto 0;
    }

    .sign-up-modal__form {
        margin: 15px 0 0;
    }

    .sign-up-modal__registered-btn {
        margin: 15px 0;
        font-size: 12px;
    }

    .sign-up-modal__register-btn {
        font-size: 14px;
    }
}

