@import 'vars.scss';
@import 'mixins.scss';

.search {
	width: 63%;
}

.icons-section {
	width: 17%;
	display: flex;

	&__item {
		&_contests, &_messages {
			display: none;
		}

		&:hover {
			.icons-section__label {
				color: #1e5cd6;

				& > * {
					color: #f8454b;
					transform: scale(1.1);
				}
			}
		}
	}

	&__counter {
		color: #f8454b;
		font-weight: bold;
		display: inline-block;
	}
}

.user-info {
	&__text {
		display: inline-block;
		margin-right: 10px;
		display: none;
	}

	&__greeting {
		font-size: 12px;
		font-weight: 500;
		color: #a1a1a1;
		text-align: right;
		display: inline-block;
		width: 100%;
	}

	&__username {
		font-size: 13px;
		font-weight: 500;
		color: $blue;
		display: block;

		&:before {
			@include pseudo('../images/icons/blue-arrow-down.svg', 7px, 5px);
			margin-right: 9px;
			transform: translateY(-30%);
		}
	}

	&__avatar {
		transform: translateY(5px);
	}
}

@media screen and (max-width: 1226px) {
	.logo__picture {
		width: 100px;
		height: 30px;
	}

	.main-menu {
		padding: 13px 15px; 
	}

	.user-info {
		padding-right: 0;
	}
}

@media screen and (max-width: 1180px) {
	.search {
		width: 55%;
	}

	.icons-section {
		width: 23%;
	}
}

@media screen and (max-width: 990px) {
	.user-info__text {
		display: none;
	}

	.user-info__avatar {
		transform: none;
	}

	.logo__picture-container {
		margin-top: 0;
	}

	.search {
		width: 48%;
	}

	.icons-section {
		width: 27%;
	}
} 

@media screen and (max-width: 768px) {

	.icons-section {
		width: auto;
		justify-content: flex-end;
		align-items: center;
		width: 65%;

		&__item:last-child {
			.icons-section__icon {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.icons-section {
		width: 45%;
	}
}

@media screen and (max-width: 440px) {

}

