@import "./vars.scss";
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}

@mixin borderBottom {
	border-bottom: 1px solid $lightGray;
}

@mixin pseudo($url, $width: 5px, $height: 5px) {
	content: '';
	display: inline-block;
	background: url($url) 0 0 / contain no-repeat;
	width: $width;
	height: $height;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}