@import 'vars.scss';
@import 'mixins.scss';
@import 'fonts.scss';

/* HIDDEN ITEMS */

.header-menu__item {

    &_journal,
    &_notes,
    &_messages {
        display: none;
    }
}

.profile-menu__item {

    &_subscriptions,
    &_groups,
    &_photoalbums,
    &_drafts,
    &_settings {
        display: none;
    }
}

.groups-menu,
.online-report {
    display: none;
}

.mobile-profile-menu__item {

    &_subscriptions,
    &_photoalbums,
    &_drafts,
    &_settings {
        display: none;
    }
}

.myprofile__tabs-tab {

    &_stats,
    &_coins,
    &_prizes {
        display: none;
    }
}

.myprofile-cards__card {

    &_rating,
    &_reputation,
    &_prizes {
        display: none;
    }
}

.myprofile-cards__other-stats {

    &_followedpeople,
    &_coins {
        display: none !important;
    }
}

/* HIDDEN ITEMS */

.groups-menu,
.online-report {
    &__navigation {
        border: 1px solid $lightGray;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        height: 37px;
        margin-top: 20px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -78px;
            left: 0;
            height: 77px;
            width: 100%;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 90%);
        }

        & * {
            width: 50%;
            text-align: center;
            line-height: 37px;
        }
    }

    &__prev {
        border-right: 1px solid $lightGray;
    }
}

.groups-menu {
    background: #fff;
    border-radius: 2px;
    border: solid 1px #e6e9f1;
    padding: 26px 11px 28px 15px;
    transition: all 0.3s ease;

    &_mt15px {
        margin-top: 15px;
    }

    &__header {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: inline-block;
        width: 58px;
        height: 45px;
        margin-right: 15px;
        background: url(../images/icons/groups-icon-left-sidebar.svg) 0 0 / contain no-repeat;
    }

    &__title {
        font-family: ALS;
        font-size: 30px;
        font-weight: bold;
        line-height: 0.77;
    }

    &__items {
        &_disabled {
            display: none;
        }
    }

    &__item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        padding: 18px 0 10px;
        @include borderBottom;

        &_verified {
            .groups-menu__item-name:after {
                @include pseudo('../images/icons/confirmed-public-icon.svg', 13px, 13px) margin-left: 8px;
                vertical-align: middle;
            }
        }

        &:last-child {
            border: none;
        }

        &-pic {
            width: 55px;
            height: 55px;
            box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.12);
            border: solid 3px #ffffff;
            background-color: $paleGray;
            border-radius: 40%;
            margin-right: 15px;
        }

        &-name {
            font-size: 14px;
            font-weight: bold;
            color: #282829;
            display: block;
        }

        &-members {
            display: block;
            font-size: 12px;
            font-weight: 500;
            color: #282829;
            margin: 7px 0 10px;
        }

        &-join-btn {
            border-radius: 12.5px;
            height: 25px;
            padding: 0 15px;
            background: #c4dfa5;
            color: #4e801a;
            line-height: 25px;
            font-weight: bold;
        }
    }
}

.header-menu {
    margin-right: 20%;

    &__container {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
    }

    &__nav-arrow {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background: #f0f2f7;
        box-shadow: 0 2px 5px 0 #e5e5e5;
        border: solid 3px #ffffff;
        position: relative;
        display: none;
        cursor: pointer;
    }

    &__item {
        margin-left: 30px;
        position: relative;
        z-index: 1;
        padding: 0 18px;

        &:not(.header-menu__item_active):hover {
            .header-menu__link {
                color: $blue;

                &:before {
                    transition: all .3s ease;
                    content: '';
                    position: absolute;
                    height: 37px;
                    width: 100%;
                    border-radius: 18.5px;
                    border: 1px solid #e5e5e5;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &_active {
            .header-menu__link {
                color: $blue;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                height: 37px;
                width: 100%;
                border-radius: 18.5px;
            }

            &:before {
                border: solid 1px #e5e5e5;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                background: #f4f7fb;
                top: 4px;
                left: 4px;
                z-index: -1;
            }
        }
    }

    &__link {
        font-weight: bold;
        color: #64686e;
        padding: 0 14px 0 13px;
        height: 37px;
        text-transform: uppercase;
        line-height: 38px;
        text-align: center;
        transition: all .3s ease;
    }
}

.myprofile {
    &-section_disabled {
        display: none;
    }

    &__tabs {
        background: url(../images/patoka-bg.svg) 0 50% / cover no-repeat;
        width: 100%;
        padding: 21px 10px 31px;
        position: relative;

        &:after {
            content: '';
            width: 95%;
            position: absolute;
            display: inline-block;
            bottom: 0;
            height: 1px;
            background: #e5e5e5;
            text-align: center;
            margin-left: 5px;
        }

        &-title {
            font-family: ALS;
            font-size: 32px;
            font-weight: bold;
            color: $blue;
            text-align: center;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before,
            &:after {
                content: '';
                display: inline-block;
                background: $blue;
                width: 5px;
                height: 5px;
                border-radius: 100%;
            }

            &:before {
                margin-right: 10px;
            }

            &:after {
                margin-left: 10px;
            }
        }

        &-container {
            justify-content: center;
            margin: 30px 10% 0;
            position: relative;
            border: none;
        }

        &-tab {
            color: #5b5b5b;
            font-weight: bold;
            padding: 0 22px;
            width: auto;
            z-index: 1;
            height: 37px;
            line-height: 37px;
            position: relative;
            background: #fff;
            transition: all .3s ease;

            &:not(.myprofile__tabs-tab_active):hover {
                &:after {
                    display: block;
                }
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 37px;
                transition: all .3s ease;
            }

            &:before {
                border: 1px solid #e5e5e5;
                top: 0;
                left: 0;
            }

            &:after {
                display: none;
                top: 3px;
                left: 3px;
                background: $paleGray;
                z-index: -1;
            }

            &_active {
                color: $blue;

                &:after {
                    display: block;
                }
            }

            &:last-child {
                &:before {
                    border-right: 1px solid $lightGray;
                }
            }



        }
    }

    &__submenu {
        width: 70%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        margin-top: 25px;
        position: relative;

        &-item {
            background: 0 0;
            height: 37px;
            position: relative;
            z-index: 1;
            font-weight: 700;
            line-height: 38px;
            padding: 0 23px;

            &:not(.myprofile__submenu-item_active):hover {
                .myprofile__submenu-link {
                    color: $blue;

                    &:before {
                        content: '';
                        height: 37px;
                        width: 100%;
                        position: absolute;
                        border-radius: 2px;
                        border: 1px solid #94acc4;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        transition: all .3s ease;
                    }
                }
            }

            &_active {
                .myprofile__submenu-link {
                    color: $blue;
                }

                &:before,
                &:after {
                    content: '';
                    height: 37px;
                    width: 100%;
                    position: absolute;
                }

                &:before {
                    border-radius: 2px;
                    border: 1px solid #94acc4;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                &:after {
                    border-radius: 2px;
                    background-color: #c4d2e1;
                    top: 3px;
                    left: 3px;
                    z-index: -1;
                    height: 38px;
                }
            }
        }

        &-link {
            color: #5b5b5b;
            font-weight: bold;
            transition: all .3s ease;
        }
    }

    &-cards {
        padding: 35px 11px 42px;

        &__container {
            @include flex;
            justify-content: center;
            margin: 0 auto;
        }

        &__card {
            text-align: center;
            margin-right: 6%;

            &:last-child {
                margin-right: 0;
            }

            &-title {
                font-size: 14px;
                font-weight: 500;
                color: $blue;
                margin-bottom: 15px;
                text-align: center;
                display: inline-block;
            }

            &-value {
                width: 75px;
                height: 75px;
                background: url(../images/icons/figure-bg-icon.svg) center / contain no-repeat;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Roboto;
                font-size: 29px;
                font-weight: 500;
            }

            &_rating {
                color: #f8454b;
            }

            &_reputation {
                color: #79b239;
            }

            &_prizes {
                color: #94acc4;
            }

            &_posts {
                color: #242550;
            }
        }

        &__other-stats {
            @include flex;
            justify-content: center;
            width: 100%;
            margin: 35px auto 0;

            &-item {
                @include flex;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &-icon {
                width: 25px;
                height: 25px;
                display: inline-block;
                margin-right: 8px;
            }

            &_likedpeople {
                .myprofile-cards__other-stats-icon {
                    background: url(../images/icons/likes-people-counter-icon.svg) 0 0 / contain no-repeat;
                }
            }

            &_followedpeople {
                .myprofile-cards__other-stats-icon {
                    background: url(../images/icons/followers-people-counter-icon.svg) 0 0 / contain no-repeat;
                }
            }

            &_coins {
                .myprofile-cards__other-stats-icon {
                    background: url(../images/icons/coins-accaunt-counter-icon.svg) 0 0 / contain no-repeat;
                }
            }

            &-value {
                display: inline-block;
                font-weight: 500;
                color: $blue;
            }
        }
    }

    &-content {
        padding: 0 11px;
    }

    &-status {
        @include flex;
        flex-wrap: wrap;

        &__input-container {
            background: $paleGray;
            padding: 15px 16px;
            width: 100%;
        }

        &__input {
            width: 100%;
        }

        &__save-btn {
            margin: 20px auto 40px;
        }
    }
}




.edit-info {
    background: $paleGray;
    padding: 20px 35px 25px;
    text-align: center;

    option {
        background-color: #fafafa;
    }

    &__title {
        font-family: ALS;
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        display: block;
        text-align: center;
        margin-bottom: 23px;
    }

    &__adv-container {
        width: 70%;
        margin: 0 auto;
    }

    &__adv {
        font-weight: 500;
        color: $blue;
        background: #f9e7ce;
    }

    &__form-container {
        margin-top: 26px;
    }

    &__form {
        @include flex;
        flex-wrap: wrap;
    }

    &__input-container {
        width: 48%;
        text-align: left;

        &_error {
            .edit-info__input-name {
                color: red;
            }
        }

        &_date {
            @include flex;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    &__input-name {
        display: block;
        font-size: 12px;
        font-weight: 500;
        color: #5b5b5b;
        margin-top: 18px;
        margin-bottom: 8px;
        position: relative;

        &_date {
            width: 100%;

        }
    }

    &__select {
        width: 100%;

        &-container {
            position: relative;

            &.edit-select_disabled {
                &:after {
                    @include pseudo('../images/icons/select-arr_disabled.svg', 9px, 7px);
                }
            }

            &:after {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                @include pseudo('../images/icons/select-arr.svg', 9px, 7px);
            }

            &_day,
            &_year {
                width: 28%;
            }

            &_month {
                width: 41%;
            }
        }
    }

    &__warning {
        margin: 30px auto 25px;
        font-weight: 500;
        color: $blue;
        width: 80%;
    }

    &__link {
        color: #1e5cd6;
    }

    &__name-label {
        font-size: 14px;
        font-weight: 500;
        color: #64686e;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    &__name-input {
        width: 100%;
        margin: 13px 0 25px;
    }

    &__save-btn-container {
        position: relative;
        z-index: 1;
        margin: 0 auto;

        &:hover {
            .edit-info__save-btn {
                color: darken(#64686e, 10%);
            }

            .edit-info__shadow {
                top: 0;
                left: 0;
            }
        }
    }

    &__save-btn {
        height: 37px;
        border-radius: 18.5px;
        border: solid 1px #94acc4;
        background: transparent;
        font-weight: bold;
        color: #64686e;
        padding: 0 29px;
        text-transform: uppercase;
        font-family: CeraPRO;
        cursor: pointer;
    }

    &__shadow {
        width: 100%;
        position: absolute;
        top: 4px;
        left: 4px;
        height: 37px;
        border-radius: 18.5px;
        background: $cloudyBlue;
        z-index: -1;
        transition: all .3s ease;
    }
}

.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
}

.jq-selectbox__select {
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 3px 7px 0 #0000000e, inset 0 -3px 0 0 #e0e4e8;
    border: solid 1px #c4d2e1;
    background-color: #fafafa;
    color: #21224e;
    font-size: 15px;
    font-weight: 500;
    padding: 0 21px 0 16px;
    font-family: CeraPRO;
    position: relative;
    cursor: pointer;
    line-height: 40px;
}

.jq-selectbox.disabled .jq-selectbox__select .jq-selectbox__trigger {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    width: 9px;
    height: 7px;
    background: url(../../images/icons/select-arr_disabled.svg) 0 0/contain no-repeat;
}

.jq-selectbox__select-text {
    display: block;
    width: 100%;
}

.jq-selectbox .placeholder {
    color: #888;
}

.jq-selectbox__trigger {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    background: url(../../images/icons/select-arr.svg) 0 0/contain no-repeat;
    width: 9px;
    height: 7px;
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
    display: none;
}

.jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    max-height: 160px;
    top: 40px;
    bottom: auto !important;
    left: 0;
}

.jq-selectbox__dropdown ul {
    max-height: 160px;
    width: 100%;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-button {
    background: #21224e;
    width: 7px;
    height: 0px;
    border-radius: 5px;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-track {
    background-color: #fafafa;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
    background-color: #21224e;
    border-radius: 2px;

}

.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb:hover {
    background-color: darken(#7b7b7b, 5%);
}

.jq-selectbox__dropdown ul::-webkit-resizer {
    width: 4px;
    height: 0px;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar {
    width: 6px;
}

.jq-selectbox__search {
    margin: 5px;
}

.jq-selectbox__search input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 27px 6px 8px;
    border: 1px solid #CCC;
    border-radius: 3px;
    outline: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
    box-shadow: inset 1px 1px #F1F1F1;
    color: #333;
}

.jq-selectbox__not-found {
    margin: 5px;
    padding: 5px 8px 6px;
    background: #F0F0F0;
    font-size: 13px;
}

.jq-selectbox ul {
    margin: 0;
    padding: 0;
}

.jq-selectbox li {
    height: 40px;
    background-color: #fafafa;
    color: #21224e;
    font-size: 15px;
    font-weight: 500;
    padding: 0 21px 0 16px;
    font-family: CeraPRO;
    position: relative;
    cursor: pointer;
    display: block;
    line-height: 40px;
}

.jq-selectbox li:hover {
    background-color: #21224e;
    color: #fafafa;
}

.jq-selectbox li.disabled {
    display: none;
}

.jq-selectbox li.disabled:hover {
    background: none;
}

.jq-selectbox li.optgroup {
    font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: default;
}

.jq-selectbox li.option {
    padding-left: 25px;
}

.jq-select-multiple {
    box-sizing: border-box;
    padding: 1px;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    background: #FFF;
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, .1);
    font: 14px/18px Arial, sans-serif;
    color: #333;
    cursor: default;
}

.jq-select-multiple.focused {
    border: 1px solid #5794BF;
}

.jq-select-multiple.disabled {
    border-color: #CCC;
    background: #F5F5F5;
    box-shadow: none;
    color: #888;
}

.jq-select-multiple ul {
    margin: 0;
    padding: 0;
}

.jq-select-multiple li {
    padding: 3px 9px 4px;
    list-style: none;
}

.jq-select-multiple li:first-child {
    border-radius: 3px 3px 0 0;
}

.jq-select-multiple li:last-child {
    border-radius: 0 0 3px 3px;
}

.jq-select-multiple li.selected {
    background: #08C;
    color: #FFF;
}

.jq-select-multiple li.disabled {
    color: #AAA;
}

.jq-select-multiple li.optgroup {
    font-weight: bold;
}

.jq-select-multiple li.option {
    padding-left: 25px;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
    background: #CCC;
    color: #FFF;
}

.user-data__avatar-changephoto, .user-data__avatar-changebg {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
    display: inline-block;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 20;

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        width: .1px;
        height: .1px;
        opacity: 0;
        z-index: -2;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        right: 0;
        bottom: 0;
        z-index: 210;
        cursor: pointer;
    }

    svg {
        width: 22px;
        height: 19px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_header {
        top: 18px;
        right: 18px;      
    }

    &:hover, &_focus {
        svg path {
            fill: #f19757;
        }
    }
}

.right-sidebar {
    @include borderBottom;

    &_feed {
    	border-bottom: none;
    }
}

.online-report {
    &__header {
        margin: 20px 0 16px;
        @include flex;
        justify-content: flex-start;
        padding-left: 15px;
    }

    &__logo {
        display: inline-block;
        height: 54px;
        width: 54px;
        margin-right: 16px;
        background: url(../images/icons/snitch-right-sidebar-icon.svg) 0 0 / contain no-repeat;
    }

    &__title {
        font-family: ALS;
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        line-height: 0.77;
        margin-right: 20px;
    }

    &__info-btn {
        width: 22px;
        height: 22px;

        &:hover {
            svg path {
                fill: darken(#D4D2D2, 15%);
            }
        }
    }

    &__items {
        &_disabled {
            display: none;
        }
    }

    &__item {
        @include borderBottom;
        padding: 15px 0;
        @include flex;
        justify-content: flex-start;

        &:last-child {
            border: none;
        }

        &-icon {
            width: 49px;
            height: 49px;
            display: inline-block;
            margin-right: 12px;

            &_coins {
                background: url(../images//icons/coin-big-event-icon.svg) 0 0 / contain no-repeat;
            }
        }

        &-text {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: $darkGray;
            width: 65%;
            line-height: 1;
        }
    }
}

.myprofile-soc {
    &__soc-container {
        padding: 30px 41px 37px;
    }

    &__title {
        font-family: ALS;
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        text-align: center;
        margin-bottom: 21px;
    }

    &__subtitle {
        font-weight: 500;
        color: $blue;
        text-align: center;
        width: 83%;
        margin: 0 auto;
        line-height: 1.38;
        margin-bottom: 35px;
    }

    &__triggers {
        @include flex;
    }

    &__trigger {
        @include flex;
        flex-wrap: wrap;
        width: 20%;

        &_disabled {
            .myprofile-soc__trigger-trigger {
                border: solid 1px #94acc4;
                background-color: #c4d2e1;

                &:after {
                    left: -1px;
                    top: -1px;
                    box-shadow: inset -3px 0 0 0 #ededed;
                    border: solid 1px #c1c1c1;
                }

                &:before {
                    content: 'выкл';
                    margin-left: 32px;
                    color: $blue;
                }
            }
        }

        &-state {
            display: block;
            text-align: center;
        }

        &-icon {
            width: 34px;
            height: 34px;
            border-radius: 100%;


            &_ok {
                background: url(../images/icons/odnoklassniki.svg) 0 0 / contain no-repeat;
            }

            &_mir {
                background: url(../images/icons/mir.svg) 0 0 / contain no-repeat;
            }

            &_facebook {
                background: url(../images/icons/fb.svg) 0 0 / contain no-repeat;
            }

            &_vk {
                background: url(../images/icons/vk.svg) 0 0 / contain no-repeat;
            }
        }

        &-trigger {
            width: 67px;
            height: 26px;
            background: #74af33;
            border-radius: 4px;
            position: relative;
            box-sizing: border-box;
            cursor: pointer;
            transition: all 0.3s ease;
            border: solid 1px #74af33;

            &:before {
                content: 'вкл';
                display: inline-block;
                font-size: 11px;
                font-weight: 500;
                color: #fff;
                margin-left: 12px;
                line-height: 25px;
                transition: all 0.3s ease;
            }

            &:after {
                content: '';
                position: absolute;
                left: 40px;
                top: -1px;
                width: 26px;
                height: 26px;
                box-sizing: border-box;
                border-radius: 4px;
                box-shadow: inset 3px 0 0 0 #ededed;
                border: solid 1px #558422;
                background-color: #ffffff;
                transition: all 0.3s ease;
            }
        }

        &-label {
            width: 100%;
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            color: #5b5b5b;
        }
    }

    &__stream {
        margin: 0 15px;
        border-radius: 2px;
        background-color: $paleGray;
        padding: 22px 50px 40px;
        text-align: center;

        &-title {
            font-family: ALS;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 23px;
            color: $blue;
        }

        &-subtitle {
            font-weight: 500;
            color: $blue;
            background: #f9e7ce;
            display: inline;
        }

        &-checkboxes {
            margin: 30px auto 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
        }

        &-checkbox {
            width: 12px;
            height: 12px;
            border-radius: 3px;
            box-shadow: inset 0 1px 2px 0 #f4f7fb;
            border: solid 1px #94acc4;
            background: #ffffff;
            position: relative;
            outline: none;
            transition: all 0.3s ease;
            cursor: pointer;
            margin-right: 14px;

            &:checked {
                background: #03a9f4;
                box-shadow: inset 0 1px 2px 0 darken(#03a9f4, 5%);

                &:after {
                    background-color: #03a9f4;
                    @include pseudo('../images/icons/check.svg', 7px, 5px);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &-container {
                margin-bottom: 14px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-label {
                cursor: pointer;
                font-weight: 500;
                color: $blue;
            }
        }
    }
}

.myprofile-contacts {
    padding: 30px 15px 0;

    &__title {
        font-family: ALS;
        font-size: 30px;
        font-weight: bold;
        color: $blue;
        text-align: center;
    }

    &__contacts {
        @include flex;
        justify-content: center;
        margin: 35px 0;
    }

    &__contact {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        margin-right: 17%;

        &:last-child {
            margin-right: 0;
        }

        &-label {
            font-weight: bold;
            color: #282829;

        }

        &-state {
            display: block;
            color: #5b5b5b;
            margin-top: 3px;
        }
    }

    &__contact-icon {
        height: 41px;
        display: inline-block;
        margin-right: 12px;

        &_address {
            background: url(../images/icons/contact-home-icon.svg) 0 0 / contain no-repeat;
            width: 46px;
        }

        &_phone {
            background: url(../images/icons/contact-phone-icon.svg) 0 0 / contain no-repeat;
            width: 42px;
        }
    }

    &__form {
        border-radius: 2px;
        background-color: $paleGray;
        padding: 23px 56px 26px;
        text-align: center;

        &-title {
            font-family: ALS;
            font-size: 26px;
            font-weight: bold;
            color: $blue;
        }

        &-subtitle {
            font-weight: 500;
            line-height: 1.38;
            color: $blue;
            margin: 19px 0 35px;
        }

        &-inputs {
            @include flex;
            flex-wrap: wrap;
            padding: 0 50px;
        }

        &-input-container {
            &_postindex {
                width: 32%;
                margin-bottom: 8px;
            }

            &_phone {
                width: 63%;
                margin-bottom: 8px;
            }

            &_address {
                width: 100%;
                margin-bottom: 30px;
            }

            &_show-btn {
                width: 65%;
                margin: 0 auto;
            }
        }

        &-input {
            display: block;
            width: 100%;
            border-radius: 2px;
            box-shadow: inset 0 2px 2px 0 #f4f7fb;
            border: solid 1px #c4d2e1;
            background-color: #ffffff;
            outline: none;
            padding: 10px 15px;
            resize: none;
            color: #64686e;
            font-family: Roboto;
            font-size: 16px;

            &-label {
                text-align: left;
                display: block;
                font-size: 12px;
                font-weight: 500;
                color: #5b5b5b;
                margin-bottom: 8px;
            }

            &_address {
                height: 140px;
            }

            &_show-btn {
                padding: 0;
                border: none;
                text-align: left;
            }
        }

        &-footer-container {
            display: block;
        }

        &-footer {
            font-weight: 500;
            line-height: 1.38;
            color: $blue;
            display: inline;
            background: #f9e7ce;
            padding: 2px 9px;
        }
    }

    &__save-btn-container {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin: 25px 0;

        &:hover {
            .edit-info__save-btn {
                color: darken(#64686e, 10%);
            }

            .edit-info__shadow {
                top: 0;
                left: 0;
            }
        }
    }
}

.myprofile-content {
    padding: 0 17px;
}

.feed {
    &__article {
        width: 100%;
        padding: 30px 0;

        &-title {
            font-family: ALS;
            font-size: 26px;
            font-weight: bold;
            color: $blue;
        }

        &-author {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            margin-top: 24px;

            &-name {
                color: #5b5b5b;
            }

            &_verified {
                width: 13px;
                display: inline-block;
                height: 13px;
                background: url(../images/icons/confirmed-public-icon-user.svg) 0 0 / contain no-repeat;
            }

            &-avatar {
                width: 60px;
                height: 60px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
                border: solid 3px #ffffff;
                background-color: #d8d8d8;
                border-radius: 100%;
                margin-right: 16px;
            }

            &-avatarpic {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 100%;
            }

            &-bio {
                font-size: 15px;
                font-weight: 500;
                color: #282829;
                z-index: 1;
                position: relative;
                display: inline-block;
                margin-bottom: 10px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 12px;
                    height: 18px;
                    width: 88%;
                    background: $paleGray;
                    z-index: -1;
                }
            }

            &-pubinfo {
                font-size: 14px;
                font-weight: 500;
                color: #5b5b5b;
                display: block;
            }

            &-journal {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                align-self: flex-end;
            }

            &-journal-cover {
                width: 26px;
                height: 26px;
                border-radius: 100%;
                margin-right: 8px;
            }

            &-journal-img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
            }

            &-journal-type {
                font-size: 14px;
                font-weight: 500;
                color: #383aaa;
            }

            &-info {
                margin-right: 8px;
            }
        }

        &-text {
            margin: 20px 0 0;
            font-family: Roboto;
            font-size: 17px;
            line-height: 1.41;
        }

        &-picture {
            margin: 24px 0 16px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__navigation {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 915px) {
    .feed__navigation {
        justify-content: center;
    }
}

@media screen and (max-width: 1248px) {
    .myprofile-soc__stream-checkboxes {
        width: 65%;
    }

    .myprofile-soc__triggers {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }

    .myprofile-soc__trigger {
        width: 45%;
        justify-content: center;

        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 25px;
        }
    }

    .myprofile-soc__trigger-icon {
        margin-right: 12px;
    }

    .myprofile__submenu {
        width: 95%;
    }
}

@media screen and (max-width: 1180px) {
    .myprofile-contacts__form-inputs {
        padding: 0 27px;
    }
}

@media screen and (max-width: 1050px) {
    .user-data {
        margin: 0;
    }

    .header-menu {
        height: 40px;
        position: relative;
        margin-right: 0;
    }

    .header-menu__link {
        height: 40px;
    }

    .header-menu__container {
        display: inline-block;
        padding: 0 50px;
        position: absolute;
        right: 15px;
        width: 65%;
        margin-right: 0;
        margin-left: 15%;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    .header-menu__nav-arrow {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3px;

        &_prev {
            left: 5px;
        }

        &_next {
            right: 5px;
        }
    }

    .owl-carousel .owl-item {
        text-align: center;
    }

    .myprofile__submenu-item {
        padding: 0 15px;
    }

    .header-menu__item {
        padding: 0;
    }
}

@media screen and (max-width: 875px) {
    .myprofile-contacts__form-inputs {
        padding: 0;
    }
}

@media screen and (max-width: 855px) {
    .myprofile-soc__stream-checkboxes {
        width: 77%;
    }

    .myprofile-contacts__form {
        padding: 23px 50px 26px;
    }

    .feed__article-controls {
        flex-wrap: wrap;
    }

    .feed__article-likes {
        width: 20%;
        order: 1;
    }

    .feed__article-comments {
        width: 80%;
        order: 2;
    }

    .feed__article-read-more {
        margin-top: 20px;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .feed__article-comment-btn {
        margin-top: 20px;
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .feed__article-report {
        margin-top: 20px;
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
}

@media screen and (max-width: 768px) {
    .header-menu__container {
        width: 75%;
    }

    .user-data__avatar-changephoto {
        top: 0;
    }

    .user-data__avatar-changephoto_header {
        top: 18px;
    }

    .edit-info__title {
        font-size: 26px;
    }

    .edit-info__form {
        justify-content: center;
    }

    .edit-info__warning {
        width: 100%;
    }

    .edit-info__input-container {
        width: 80%;
    }

    .myprofile-soc__soc-container {
        padding: 30px 41px 57px;
    }

    .myprofile-soc__stream {
        padding: 22px 5% 40px;
    }

    .myprofile-contacts__contacts {
        flex-wrap: wrap;
    }

    .myprofile-contacts__contact {
        width: 100%;
        margin-right: 0;
        justify-content: center;

        &:first-child {
            margin-bottom: 35px;
        }
    }

    .myprofile-contacts__form {
        padding: 23px 15px 26px;
    }

    .myprofile-contacts__form-footer {
        font-size: 12px;
    }

    .myprofile__submenu {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .feed__submenu-item_datefilter,
    .feed__submenu-item_interestingfilter,
    .feed__submenu-item_discussfilter {
        width: 60%;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .feed__article-title {
        font-size: 24px;
    }

    .feed__article-author {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .feed__article-author-journal {
        justify-content: flex-end;
        width: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 690px) {
    .user-data__avatar-changephoto {
        right: 5px;
    }

    .user-data__avatar-changephoto_header {
        right: 18px;
    }

    .header-menu__container {
        width: 65%;
        padding: 0;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 20px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 90%);
        }
    }
}

@media screen and (max-width: 480px) {
    .user-data__avatar-changephoto_header {
        top: 10px;
        right: 10px;
    }

    .header-menu__container {
        width: 60%;
    }

    .myprofile__tabs {
        padding: 10px 10px 31px;
    }

    .myprofile__tabs-container {
        margin: 22px 5% 0;
    }

    .myprofile-contacts__form {
        padding: 23px 27px 26px;
    }

    .myprofile-contacts__form-input-container_show-btn {
        width: 80%;
    }

    .feed__article-text {
        font-size: 16px;
    }

    .feed__article-title {
        font-size: 22px;
    }

    .feed__article-likes {
        width: auto;
        margin-right: 10px;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .feed__article-comments {
        width: auto;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .feed__article-read-more {
        width: 100%;
        margin-top: 15px;
        order: 4;
    }

    .feed__article-comment-btn {
        width: 100%;
        margin-top: 15px;
        order: 5;
    }

    .feed__article-report {
        margin-top: 0;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-left: auto;
    }

    .feed__submenu-item_datefilter, .feed__submenu-item_discussfilter, .feed__submenu-item_interestingfilter {
    	width: 94%;
    }

    .myprofile__tabs-container {
    	    margin: 22px 0 0;
    }

    .myprofile__tabs-tab {
    	padding: auto;
    }

    .feed__article-author-avatar {
    	height: 40px;
    	width: 40px;
    	margin-right: 10px;
    }

    .feed__article-author-bio {
    	font-size: 13px;
    }

    .feed__article-author-bio:after {
    	height: 15px;
    }

    .feed__article-author-pubinfo {
    	font-size: 13px;
    }

    .feed__article-author-journal {
    	margin-top: 5px;
    }

    .feed__article-text {
    	font-size: 14px;
    	margin: 15px 0 0;
    	line-height: 1.6;
    }

    .feed__article-author-journal-type {
    	font-size: 13px;
    }

    .feed__article-author-journal-cover {
    	height: 24px;
    	width: 24px;
    }

    .feed__article-author-info {
    	margin-right: 0;
    }


}

@media screen and (max-width: 420px) {
    .myprofile-soc__triggers {
        width: 100%;
    }

    .myprofile-soc__subtitle {
        width: 100%;
    }

    .myprofile-soc__stream-checkboxes {
        width: 80%;
    }

    .myprofile-contacts__form-input-container_postindex {
        width: 37%;
    }

    .myprofile-contacts__form-input-container_phone {
        width: 58%;
    }
}

@media screen and (max-width: 354px) {
    .myprofile-contacts__form-input-container_phone {
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 395px) {
    .user-data__avatar-changephoto {
        width: 30px;
        height: 30px;

        svg {
            width: 17px;
            height: 14px;
        }
    }

    .header-menu__container {
        width: 90%;
    }

    .myprofile__submenu {
        width: 90%;
    }

    .edit-info {
        padding: 20px 15px 25px;
    }

    .edit-info__adv-container {
        width: 90%;
    }

    .edit-info__input-container {
        width: 90%;
    }

    .myprofile-soc__title {
        font-size: 24px;
    }

    .myprofile-soc__stream-title {
        font-size: 22px;
    }

    .myprofile-soc__trigger {
        width: 100%;
    }

    .myprofile-soc__trigger-icon {
        margin-right: 20px;
    }

    .myprofile-soc__stream-checkboxes {
        width: 100%;
    }

    .myprofile-soc__stream-checkbox {
        margin-right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .edit-info__adv-container {
        width: 95%;
    }

    .edit-info__input-container {
        width: 95%;
    }

    .myprofile__tabs-title {
        font-size: 28px;
    }

    .edit-info__title {
        font-size: 24px;
    }
}