.search {
  width: 63%;
}

.icons-section {
  width: 17%;
  display: flex;
}

.icons-section__item {
  position: relative;
}

.icons-section__item_contests,
.icons-section__item_messages {
  display: none;
}

.icons-section__item:hover .icons-section__label {
  color: #1e5cd6;
}

.icons-section__item:hover .icons-section__counter {
  color: #f8454b;
  transform: scale(1.1);
}

.icons-section__counter {
  color: #f8454b;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -7px;
}

.user-info__text {
  display: inline-block;
  margin-right: 10px;
  display: none;
}

.user-info__greeting {
  font-size: 12px;
  font-weight: 500;
  color: #a1a1a1;
  text-align: right;
  display: inline-block;
  width: 100%;
}

.user-info__username {
  font-size: 13px;
  font-weight: 500;
  color: #21224e;
  display: block;
}

.user-info__username:before {
  content: '';
  display: inline-block;
  background: url("../images/icons/blue-arrow-down.svg") 0 0/contain no-repeat;
  width: 7px;
  height: 5px;
  margin-right: 9px;
  transform: translateY(-30%);
}

.user-info__avatar {
  transform: translateY(5px);
}

@media screen and (max-width: 1226px) {
  .logo__picture {
    width: 100px;
    height: 30px;
  }

  .main-menu {
    padding: 13px 15px;
  }

  .user-info {
    padding-right: 0;
  }
}

@media screen and (max-width: 1180px) {
  .search {
    width: 55%;
  }

  .icons-section {
    width: 23%;
  }
}

@media screen and (max-width: 990px) {
  .user-info__text {
    display: none;
  }

  .user-info__avatar {
    transform: none;
  }

  .logo__picture-container {
    margin-top: 0;
  }

  .search {
    width: 48%;
  }

  .icons-section {
    width: 27%;
  }
}

@media screen and (max-width: 768px) {
  .icons-section {
    width: auto;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
  }

  .icons-section__item:last-child .icons-section__icon {
    margin-right: 0;
  }

  .icons-section__counter {
    right: 7px;
    top: -7px;
  }
}

@media screen and (max-width: 480px) {
  .icons-section {
    width: 45%;
  }
}