@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

/* CERAPRO */

@font-face {
  font-family: CeraPro;
  src: url(../fonts/CeraPro/CeraPro-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: CeraPro;
  src: url(../fonts/CeraPro/CeraPro-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: CeraPro;
  src: url(../fonts/CeraPro/CeraPro-Bold.woff);
  font-weight: bold;
}

/* MUSEO */

@font-face {
  font-family: MuseoCyrl;
  src: url(../fonts/Museo/MuseoSansCyrl.otf);
  font-weight: normal;
}

@font-face {
  font-family: MuseoCyrl;
  src: url(../fonts/Museo/MuseoCyrl-700.woff);
  font-weight: bold;
}

html,
body {
  font-family: MuseoCyrl;
  font-weight: normal;
  font-size: 17px;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #2e2e2e;
  background: #fff;
  overflow-x: hidden;
  position: relative;
}

body * {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  display: inline-block;
}

input {
  box-sizing: border-box;
}

.search-input {
  height: 37px;
  border-radius: 18.5px;
  border: 1px solid #e5e5e5;
  padding: 0 21px;
  font-family: CeraPRO;
  font-size: 12px;
  font-weight: bold;
  color: #99999a;
}

.search-input:focus {
  outline: none;
}

.submenu {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.submenu__container {
  width: 40%;
  margin: 0 auto;
  padding: 9px 0 7px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.submenu__link {
  color: #1e5cd6;
  font-family: CeraPRO;
  font-size: 12px;
  font-weight: bold;
}

.main-menu {
  padding: 13px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo__picture {
  background: url(../img/icons/logo.svg) 0 0/contain no-repeat;
  width: 151px;
  height: 40px;
}

.search {
  width: 40%;
  position: relative;
}

.search__button {
  background: url(../img/icons/search-icon.svg) 0 0/contain no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.search-input {
  width: 100%;
  background: transparent;
  z-index: 1;
  position: relative;
}

.search__shadow {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 4px;
  top: 4px;
  width: 100%;
  background: #f4f7fb;
  height: 37px;
  border-radius: 18.5px;
}

.icons-section {
  width: 35%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.icons-section__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.icons-section__icon {
  display: inline-block;
  margin-right: 5px;
}

.icons-section__icon_contests {
  background: url(../img/icons/competition-icon-copy-2.svg) 0 0/contain no-repeat;
  width: 43px;
  height: 32px;
}

.icons-section__icon_events {
  background: url(../img/icons/event-icon.svg) 0 0/contain no-repeat;
  width: 19px;
  height: 26px;
}

.icons-section__icon_messages {
  background: url(../img/icons/message-icon.svg) 0 0/contain no-repeat;
  width: 27px;
  height: 25px;
}

.icons-section__icon_feed {
  background: url(../img/icons/news-feed-icon.svg) 0 0/contain no-repeat;
  width: 26px;
  height: 19px;
}

.icons-section__label {
  font-size: 13px;
  font-weight: bold;
  color: #21224e;
}

.user-info {
  width: 5%;
}

.nav-menu {
  width: 100%;
}

.nav-menu__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  padding: 21px 25px;
}

.nav-menu__item:first-child a:before {
  display: none;
}

.nav-menu__item:last-child a:before {
  background: url(../img/icons/tridot.svg) 0 0/contain no-repeat;
  height: 27px;
  border-radius: 0;
  transform: none;
}

.nav-menu__link {
  font-size: 18px;
  font-weight: bold;
  color: #21224e;
}

.nav-menu__link:before {
  content: '';
  background: #d1d2d6;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  display: inline-block;
  transform: translateY(-50%);
  margin-right: 18px;
  margin-left: 18px;
}

.nav-menu__item_shop a:before {
  width: 26px;
  height: 25px;
  border-radius: 0;
  transform: none;
  background: url(../img/icons/shop-icon.svg) 0 0/contain no-repeat;
}