@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

/* CERAPRO */

@font-face {
  font-family: CeraPro;
  src: url(../fonts/CeraPro/CeraPro-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: CeraPro;
  src: url(../fonts/CeraPro/CeraPro-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: CeraPro;
  src: url(../fonts/CeraPro/CeraPro-Bold.woff);
  font-weight: bold;
}

/* MUSEO */

@font-face {
  font-family: MuseoCyrl;
  src: url(../fonts/Museo/MuseoSansCyrl.otf);
  font-weight: normal;
}

@font-face {
  font-family: MuseoCyrl;
  src: url(../fonts/Museo/MuseoCyrl-700.woff);
  font-weight: bold;
}

@font-face {
  font-family: MuseoCyrl;
  src: url(../fonts/Museo/MuseoCyrl-900.woff);
  font-weight: 900;
}

/* ALSSchlangeslab */

@font-face {
  font-family: ALS;
  src: url(../fonts/ALSSchlangeslab/alsschlangebold.otf);
  font-weight: bold;
}

html,
body {
  font-family: CeraPro;
  font-weight: normal;
  font-size: 13px;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #2e2e2e;
  background: #fff;
  position: relative;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
  display: inline-block;
}

input,
select,
option,
textarea {
  appearance: none;
  /* remove arrow        */
  -webkit-appearance: none;
  /* remove arrow Chrome */
  -moz-appearance: none;
  box-sizing: border-box;
}

.input {
  height: 40px;
  color: #2e2e2e;
  padding: 0 16px;
  font-size: 16px;
  font-family: Roboto;
  border-radius: 2px;
  box-shadow: inset 0 2px 2px 0 #0000000f;
  border: solid 1px #c4d2e1;
  background-color: #ffffff;
  font-weight: 500;
}

.input::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  color: #64686e;
  font-weight: normal;
}

.input:-moz-placeholder {
  font-family: Roboto;
  font-size: 16px;
  color: #64686e;
  font-weight: normal;
}

.input::-moz-placeholder {
  font-family: Roboto;
  font-size: 16px;
  color: #64686e;
  font-weight: normal;
}

.input:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  color: #64686e;
  font-weight: normal;
}

.edit-input {
  border-radius: 2px;
  box-shadow: inset 0 2px 2px 0 #0000000f;
  border: solid 1px #c4d2e1;
  background-color: #ffffff;
  height: 37px;
  padding: 0 16px;
  font-family: CeraPRO;
  font-weight: 500;
}

select::-ms-expand {
  display: none;
}

select.edit-select {
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 3px 7px 0 #0000000e, inset 0 -3px 0 0 #e0e4e8;
  border: solid 1px #c4d2e1;
  background-color: #fafafa;
  color: #21224e;
  font-size: 15px;
  font-weight: 500;
  padding: 0 21px 0 16px;
  font-family: CeraPRO;
  position: relative;
  cursor: pointer;
}

select.edit-select:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 7px;
}

option {
  height: 40px;
  border: solid 1px #c4d2e1;
  background-color: #fafafa;
  color: #21224e;
  font-size: 15px;
  font-weight: 500;
  padding: 0 21px 0 16px;
  font-family: CeraPRO;
  position: relative;
}

.button {
  height: 37px;
  padding: 0 28px;
  text-transform: uppercase;
  border-radius: 18.5px;
  position: relative;
  z-index: 1;
  background: transparent;
  font-weight: bold;
  line-height: 37px;
  color: #64686e;
  text-align: center;
}

.button_green {
  height: 37px;
  padding: 0 28px;
  text-transform: uppercase;
  border-radius: 18.5px;
  position: relative;
  z-index: 1;
  background: transparent;
  font-weight: bold;
  line-height: 37px;
  color: #4e801a;
  text-align: center;
}

.button_green:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: solid 1px #90c952;
  width: 100%;
  height: 37px;
  border-radius: 18.5px;
}

.button_green:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 3px;
  top: 3px;
  width: 100%;
  background: #c4dfa5;
  height: 37px;
  border-radius: 18.5px;
  z-index: -1;
}

.button:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: solid 1px #ccd6e2;
  width: 100%;
  height: 37px;
  border-radius: 18.5px;
}

.button:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 3px;
  top: 3px;
  width: 100%;
  background: #f4f7fb;
  height: 37px;
  border-radius: 18.5px;
  z-index: -1;
}

.shadow {
  position: absolute;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 4px;
  top: 4px;
  width: 100%;
  background: #f4f7fb;
  height: 37px;
  border-radius: 18.5px;
  z-index: -1;
}

.avatar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  border: solid 3px #ffffff;
  background-color: #d8d8d8;
  border-radius: 100%;
}

.search-input {
  height: 37px;
  border-radius: 18.5px;
  border: 1px solid #e5e5e5;
  padding: 0 21px;
  font-family: CeraPRO;
  font-size: 12px;
  font-weight: bold;
  color: #2e2e2e;
}

.search-input:focus {
  outline: none;
}

.submenu {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.submenu__container {
  width: 40%;
  margin: 0 auto;
  padding: 9px 0 7px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.submenu__link {
  color: #1e5cd6;
  font-size: 12px;
  font-weight: bold;
}

.main-menu {
  padding: 13px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo__picture {
  background: url(../img/icons/logo.svg) 0 0/contain no-repeat;
  width: 151px;
  height: 40px;
}

.search {
  width: 80%;
  position: relative;
}

.search__button {
  background: url(../img/icons/search-icon.svg) 0 0/contain no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.search-input {
  width: 100%;
  background: transparent;
  z-index: 1;
  position: relative;
}

.search__shadow {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 4px;
  top: 4px;
  width: 100%;
  background: #f4f7fb;
  height: 37px;
  border-radius: 18.5px;
}

.icons-section {
  width: 38%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  display: none;
}

.icons-section__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.icons-section__icon {
  display: inline-block;
  margin-right: 10px;
}

.icons-section__icon_contests {
  background: url(../img/icons/competition-icon-copy-2.svg) 0 0/contain no-repeat;
  width: 43px;
  height: 32px;
}

.icons-section__icon_events {
  background: url(../img/icons/event-icon.svg) 0 0/contain no-repeat;
  width: 19px;
  height: 26px;
}

.icons-section__icon_messages {
  background: url(../img/icons/message-icon.svg) 0 0/contain no-repeat;
  width: 27px;
  height: 25px;
}

.icons-section__icon_feed {
  background: url(../img/icons/news-feed-icon.svg) 0 0/contain no-repeat;
  width: 26px;
  height: 19px;
}

.icons-section__label {
  font-weight: bold;
  color: #21224e;
}

.user-info {
  width: auto;
  padding-right: 10px;
}

.user-info__avatar-picture {
  width: 35px;
  height: 35px;
}

.nav-menu {
  width: 100%;
}

.nav-menu__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  padding: 21px 25px;
}

.nav-menu__separator {
  content: '';
  background: #d1d2d6;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 18px;
  margin-left: 18px;
}

.nav-menu__item_relax {
  padding-right: 15px;
}

.nav-menu__item_shop {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.nav-menu__item_shop:before {
  content: '';
  margin-right: 13px;
  display: inline-block;
  width: 26px;
  height: 25px;
  background: url(../img/icons/shop-icon.svg) 0 0/contain no-repeat;
}

.nav-menu__tridot {
  background: url(../img/icons/tridot.svg) 0 0/contain no-repeat;
  height: 27px;
  width: 5px;
  margin: 0 10px;
}

.nav-menu__link {
  font-size: 18px;
  font-weight: bold;
  color: #21224e;
}

.nav-menu__link_add-photo {
  color: #82ad20;
  font-size: 18px;
  font-weight: 900;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-transform: uppercase;
}

.nav-menu__link_add-photo:before {
  content: '';
  display: inline-block;
  background: url(../img/icons/plus.svg) 0 0/contain no-repeat;
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

.mobile-nav-menu {
  display: none;
  justify-content: space-between;
  padding: 19px 20px 19px 26px;
  background: #fafafa;
  align-items: center;
}

.mobile-nav-menu__burger {
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  height: 19px;
  width: 19px;
}

.mobile-nav-menu__burger span {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #21224e;
  height: 3px;
}

.mobile-nav-menu__burger span:first-child {
  top: 0;
}

.mobile-nav-menu__burger span:last-child {
  top: 100%;
}

.mobile-nav-menu__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  align-items: center;
}

.mobile-nav-menu__item {
  margin-left: 50px;
}

.mobile-nav-menu__item_add-photo {
  margin-left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
}

.mobile-nav-menu__link {
  width: 19px;
  height: 19px;
}

.mobile-nav-menu__link_search {
  background: url(../img/icons/mobile-search-icon.svg) 0 0/contain no-repeat;
}

.mobile-nav-menu__link_tags {
  background: url(../img/icons/mobile-tags-icon.svg) 0 0/contain no-repeat;
}

.mobile-nav-menu__link_bookmarks {
  background: url(../img/icons/mobile-read-after-icon.svg) 0 0/contain no-repeat;
}

.mobile-nav-menu__link_add-photo-icon {
  background: url(../img/icons/plus.svg) 0 0/contain no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.mobile-nav-menu__link_add-photo {
  color: #82ad20;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  transform: translateY(-2px);
}

.mobile-nav-menu__item_tridot {
  background: url(../img/icons/tridot.svg) 0 0/contain no-repeat;
  height: 27px;
  width: 5px;
  margin: 0 21px 0 28px;
}

.user-data {
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #e6e9f1;
  background-color: #ffffff;
}

.user-data_mt20px {
  margin-top: 20px;
}

.user-data_mb20px {
  margin-bottom: 20px;
}

.user-data__info {
  padding-top: 10%;
}

.user-data__avatar {
  margin-left: 20px;
  display: inline-block;
  transform: translateY(35%);
  position: relative;
}

.user-data__avatar_online:before {
  content: '';
  background: #8dbc24;
  width: 12px;
  height: 12px;
  border: solid 2px #ffffff;
  position: absolute;
  left: 40px;
  top: 13px;
  border-radius: 100%;
}

.user-data__avatar-picture {
  width: 254px;
  height: 254px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  border: solid 1px #e6e9f1;
  background-color: #ffffff;
  border-radius: 45%;
}

.user-data__text {
  display: inline-block;
  color: #fff;
  margin-left: 24px;
  margin-bottom: 57px;
}

.user-data__username {
  font-family: ALS;
  font-size: 49px;
  font-weight: bold;
}

.user-data__bio {
  font-size: 16px;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.actions__add-friend,
.actions__write-message {
  /* margin-right: 20px;*/
}

.actions__write-message {
  display: none;
}

.actions__more {
  padding: 0;
  width: 39px;
  height: 39px;
  text-align: center;
  line-height: 35px;
  display: none;
}

.content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0 40px;
}

.content_mt15px {
  margin-top: 17px;
}

.profile-menu {
  width: 25%;
  background: #fff;
  border-radius: 2px;
  border: solid 1px #e6e9f1;
  padding: 26px 11px 28px 15px;
  transition: all 0.3s ease;
  position: sticky;
  top: 17px;
}

.profile-menu svg {
  width: 29px;
}

.profile-menu__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

.profile-menu__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.profile-menu__link_active svg path:last-child {
  transition: all 0.3s ease;
  fill: #383AAA;
}

.profile-menu__item {
  width: 100%;
}

.profile-menu__item:last-child .profile-menu__submenu .profile-menu__submenu-item:last-child {
  border: none;
}

.profile-menu__item_expand .profile-menu__item-text {
  border-bottom: 1px dashed #e6e9f1;
}

.profile-menu__item_expand .profile-menu__item-text:after {
  transform: rotate(90deg);
}

.profile-menu__item_expand .profile-menu__submenu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.profile-menu__item-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #5b5b5b;
  margin-left: 19px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  border-bottom: solid 1px #e6e9f1;
}

.profile-menu__item-text:after {
  content: '';
  background: url(../img/icons/arrow-list-right.svg) 0 0/contain no-repeat;
  width: 5px;
  height: 7px;
  display: inline-block;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.profile-menu__submenu {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 14px 0 0 47px;
  display: none;
}

.profile-menu__submenu-item {
  width: 100%;
  padding-bottom: 12px;
}

.profile-menu__submenu-item:last-child {
  padding-bottom: 16px;
  border-bottom: solid 1px #e6e9f1;
}

.profile-menu__submenu-item:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #cad4e1;
  border-radius: 100%;
  transform: translateY(-50%);
  margin-right: 10px;
}

.profile-menu__submenu-link {
  font-size: 14px;
  font-weight: 500;
  color: #5b5b5b;
}

.mobile-profile-menu {
  padding: 19px 17px;
  display: none;
}

.mobile-profile-menu__container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-profile-menu__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.mobile-profile-menu__link_active svg path:last-child {
  transition: all 0.3s ease;
  fill: #383AAA;
}

.main-content {
  width: 50%;
}

.triggers {
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.trigger {
  border: none;
  border-radius: 0;
  width: 50%;
  font-weight: 500;
  line-height: 37px;
  color: #9b9b9b;
  text-transform: none;
}

.trigger:after {
  border-radius: 0;
  display: none;
}

.trigger:before {
  border-radius: 0;
}

.trigger:first-child {
  border-right: 1px solid #e5e5e5;
}

.trigger_active {
  color: #282829;
}

.trigger_active:after {
  display: inline-block;
  left: 2px;
  top: 2px;
}

.blogs-menu {
  width: 25%;
  border-radius: 2px;
  border: solid 1px #e6e9f1;
  background: #ffffff;
  padding: 21px 16px 25px;
  position: sticky;
  top: 17px;
}

.blogs-menu * {
  transition: all 0.3s ease;
}

.blogs-menu__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.blogs-menu__logo {
  width: 70px;
  height: 50px;
  margin-right: 15px;
  background: url(../img/icons/blogs-icon-left-sidebar.svg) 0 0/contain no-repeat;
}

.blogs-menu__title {
  font-size: 30px;
  font-weight: bold;
  color: #21224e;
  line-height: 0.77;
  margin-right: 15px;
}

.blogs-menu__add-post {
  width: 43px;
  height: 30px;
  background: url(../img/icons/plus.svg) 0 0/contain no-repeat;
}

.blogs-menu__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e5e5e5;
}

.blogs-menu__item:last-child {
  border-bottom: none;
}

.blogs-menu__item-avatar {
  margin-right: 20px;
}

.blogs-menu__item-avatar-picture {
  width: 49px;
  height: 49px;
}

.blogs-menu__item-info {
  color: #282829;
}

.blogs-menu__item-header {
  font-size: 12px;
  font-weight: 500;
}

.blogs-menu__item-name {
  margin-right: 16px;
}

.blogs-menu__item-date {
  color: #9b9b9b;
}

.blogs-menu__item-text {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.blogs-menu__item-footer * {
  font-weight: 500;
  margin-right: 14px;
}

.blogs-menu__item-footer *:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -2px;
}

.blogs-menu__item-likes:before {
  width: 13px;
  height: 11px;
  background: url(../img/icons/heart-icon.svg) 0 0/contain no-repeat;
}

.blogs-menu__item-comments:before {
  width: 13px;
  height: 11px;
  background: url(../img/icons/comment-icon.svg) 0 0/contain no-repeat;
}

.blogs-menu__item-bookmarks:before {
  width: 7px;
  height: 11px;
  background: url(../img/icons/read-after.svg) 0 0/contain no-repeat;
}

.blogs-menu__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border: solid 1px #e5e5e5;
  border-top: none;
  height: 37px;
  align-items: center;
  position: relative;
}

.blogs-menu__navigation:before {
  content: '';
  position: absolute;
  top: -78px;
  left: 0;
  height: 77px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 90%);
}

.blogs-menu__prev,
.blogs-menu__next {
  width: 30%;
  text-align: center;
  line-height: 37px;
}

.blogs-menu__prev svg path,
.blogs-menu__next svg path {
  fill: #282829;
}

.blogs-menu__prev_disabled,
.blogs-menu__next_disabled {
  cursor: default;
}

.blogs-menu__prev_disabled svg path,
.blogs-menu__next_disabled svg path {
  fill: #A0A0A0;
}

.blogs-menu__all-blogs {
  width: 40%;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  color: #282829;
}

.blogs-menu__add-button {
  background: #fdb62c;
  width: 100%;
  margin-top: 25px;
  font-weight: bold;
  color: #884235;
  text-transform: none;
}

.blogs-menu__add-button:before,
.blogs-menu__add-button:after {
  display: none;
}

@media screen and (max-width: 1226px) {
  .nav-menu {
    display: none;
  }

  .mobile-nav-menu {
    display: flex;
  }
}

@media screen and (max-width: 1180px) {
  .submenu__container {
    width: 60%;
  }

  .journal-slider__photo:last-child {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .main-content {
    width: 60%;
  }

  .blogs-menu {
    width: 40%;
  }

  .mobile-profile-menu {
    display: block;
  }

  .profile-menu {
    display: none;
  }

  .user-data__username {
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  .submenu {
    display: none;
  }

  .search {
    display: none;
  }

  .icons-section__label {
    display: none;
  }

  .main-menu {
    padding: 0;
  }

  .user-data__avatar_online:before {
    left: 25px;
    top: 7px;
  }

  .user-data__avatar-picture {
    width: 176px;
    height: 176px;
  }

  .user-data__text {
    margin-bottom: 28px;
  }

  .user-data__username {
    font-size: 42px;
  }

  .user-data_mt20px {
    margin-top: 0;
  }

  .profile-menu {
    display: none;
  }

  .main-content {
    width: 59%;
  }

  .blogs-menu {
    width: 41%;
  }
}

@media screen and (max-width: 690px) {
  .user-data__username {
    font-size: 34px;
  }

  .main-content {
    width: 100%;
  }

  .blogs-menu {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .user-data__info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .user-data__username {
    font-size: 34px;
    width: 50%;
  }

  .user-data__bio {
    width: auto;
  }

  .user-data__text {
    width: auto;
  }

  .mobile-nav-menu__link_add-photo {
    display: none;
  }

  .mobile-nav-menu__link_add-photo-icon {
    margin-right: 0;
  }

  .user-data__avatar {
    transform: translateY(15%);
  }

  .actions {
    padding-left: 35%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .mobile-profile-menu {
    padding: 19px 20px 19px 26px;
  }

  .mobile-profile-menu__container {
    width: 100%;
  }

  .user-data__avatar_online:before {
    left: 25px;
    top: 2px;
  }

  .user-data__info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
  }

  .user-data__avatar {
    transform: translateY(15%);
  }

  .user-data__avatar-picture {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 440px) {
  .user-data__username {
    font-size: 24px;
  }

  .user-data__bio {
    font-size: 12px;
  }

  .button,
  .button_green {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
  }

  .button:before,
  .button_green:before {
    height: 30px;
  }

  .button:after,
  .button_green:after {
    height: 30px;
  }
}

@media screen and (max-width: 395px) {
  .actions {
    padding: 0 20px;
    justify-content: center;
  }

  .user-data__avatar {
    transform: none;
  }

  .mobile-nav-menu__item {
    margin-left: 30px;
  }

  .user-data__avatar-picture {
    height: 100px;
    width: 100px;
  }

  .user-data__info {
    align-items: center;
    padding-bottom: 10%;
    padding-right: 20px;
  }

  .user-data__username {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .user-data__text {
    margin-bottom: 0;
    margin-left: 15px;
  }

  .user-data__avatar_online:before {
    left: 7px;
    top: 5px;
    height: 10px;
    width: 10px;
  }
}