@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Thin.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Cera;
  src: url(../fonts/CeraPro/CeraPro-Medium.woff);
  font-weight: 500;
}

html,
body {
  font-family: Roboto;
  font-weight: normal;
  font-size: 17px;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #2e2e2e;
  background: #fff;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: Cera;
  font-weight: normal;
}