.left-sidebar {
  width: 24%;
  position: sticky;
  top: 17px;
  background: red;
}

.left-sidebar > * {
  width: 100%;
  position: static;
}

.groups-menu {
  background: #fff;
  border-radius: 2px;
  border: solid 1px #e6e9f1;
  padding: 26px 11px 28px 15px;
  transition: all 0.3s ease;
}

.groups-menu_mt15px {
  margin-top: 15px;
}

.groups-menu__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.groups-menu__logo {
  display: inline-block;
  width: 58px;
  height: 45px;
  margin-right: 15px;
  background: url(../img/icons/groups-icon-left-sidebar.svg) 0 0/contain no-repeat;
}

.groups-menu__title {
  font-family: ALS;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.77;
}

.groups-menu__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 18px 0 10px;
  border-bottom: 1px solid #e5e5e5;
}

.groups-menu__item:last-child {
  border: none;
}

.groups-menu__item-pic {
  width: 55px;
  height: 55px;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.12);
  border: solid 3px #ffffff;
  background-color: #f4f7fb;
  border-radius: 40%;
  margin-right: 15px;
}

.groups-menu__item-name {
  font-size: 14px;
  font-weight: bold;
  color: #282829;
  display: block;
}

.groups-menu__item-members {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #282829;
  margin: 7px 0 10px;
}

.groups-menu__item-join-btn {
  border-radius: 12.5px;
  height: 25px;
  padding: 0 15px;
  background: #c4dfa5;
  color: #4e801a;
  line-height: 25px;
  font-weight: bold;
}

.groups-menu__navigation {
  border: 1px solid #e5e5e5;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  height: 37px;
  margin-top: 20px;
  position: relative;
}

.groups-menu__navigation:before {
  content: '';
  position: absolute;
  top: -78px;
  left: 0;
  height: 77px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 90%);
}

.groups-menu__navigation * {
  width: 50%;
  text-align: center;
  line-height: 37px;
}

.groups-menu__prev {
  border-right: 1px solid #e5e5e5;
}

.header-menu__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

.header-menu__item {
  margin-left: 30px;
  position: relative;
  z-index: 1;
}

.header-menu__item:first-child {
  margin-left: 0;
}

.header-menu__item_active .header-menu__link {
  color: #21224e;
}

.header-menu__item_active:before,
.header-menu__item_active:after {
  content: '';
  position: absolute;
  height: 37px;
  width: 100%;
  border-radius: 18.5px;
}

.header-menu__item_active:before {
  border: solid 1px #e5e5e5;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-menu__item_active:after {
  background: #f4f7fb;
  top: 4px;
  left: 4px;
  z-index: -1;
}

.header-menu__link {
  font-weight: bold;
  color: #64686e;
  padding: 0 14px 0 13px;
  height: 37px;
  text-transform: uppercase;
  line-height: 38px;
  text-align: center;
}

.myprofile__tabs {
  background: url(../img/patoka-bg.svg) 0 50%/cover no-repeat;
  width: 100%;
  padding: 21px 10px 31px;
  position: relative;
}

.myprofile__tabs:after {
  content: '';
  width: 95%;
  position: absolute;
  display: inline-block;
  bottom: 0;
  height: 1px;
  background: #e5e5e5;
  text-align: center;
  margin-left: 5px;
}

.myprofile__tabs-title {
  font-family: ALS;
  font-size: 32px;
  font-weight: bold;
  color: #21224e;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myprofile__tabs-title:before,
.myprofile__tabs-title:after {
  content: '';
  display: inline-block;
  background: #21224e;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.myprofile__tabs-title:before {
  margin-right: 10px;
}

.myprofile__tabs-title:after {
  margin-left: 10px;
}

.myprofile__tabs-container {
  width: 80%;
  margin: 30px auto 0;
  position: relative;
  border: none;
}

.myprofile__tabs-container .trigger_active {
  color: #21224e;
}

.myprofile__tabs-container .trigger_active:after {
  background: #f4f7fb;
}

.myprofile__tabs-tab {
  color: #5b5b5b;
  font-weight: bold;
}

.myprofile__tabs-tab:last-child:before {
  border-right: 1px solid #e5e5e5;
}

.myprofile__tabs-tab:after {
  display: block;
  background: #fff;
  top: 2px;
  left: 2px;
}

.myprofile__tabs-tab:before {
  border: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.myprofile__submenu {
  width: 70%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 25px;
  position: relative;
}

.myprofile__submenu-item {
  background: 0 0;
  height: 37px;
  position: relative;
  z-index: 1;
  font-weight: 700;
  line-height: 38px;
  padding: 0 23px;
}

.myprofile__submenu-item_active .myprofile__submenu-link {
  color: #21224e;
}

.myprofile__submenu-item_active:before,
.myprofile__submenu-item_active:after {
  content: '';
  height: 37px;
  width: 100%;
  position: absolute;
}

.myprofile__submenu-item_active:before {
  border-radius: 2px;
  border: 1px solid #94acc4;
  top: 0;
  left: 0;
  z-index: 1;
}

.myprofile__submenu-item_active:after {
  border-radius: 2px;
  background-color: #c4d2e1;
  top: 5px;
  left: 5px;
  z-index: -1;
}

.myprofile__submenu-link {
  color: #5b5b5b;
  font-weight: bold;
}

.myprofile-cards {
  padding: 35px 11px 42px;
}

.myprofile-cards__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.myprofile-cards__card {
  text-align: center;
  margin-right: 6%;
}

.myprofile-cards__card:last-child {
  margin-right: 0;
}

.myprofile-cards__card-title {
  font-size: 14px;
  font-weight: 500;
  color: #21224e;
  margin-bottom: 15px;
  text-align: center;
  display: inline-block;
}

.myprofile-cards__card-value {
  width: 75px;
  height: 75px;
  background: url(../img/icons/figure-bg-icon.svg) center/contain no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 29px;
  font-weight: 500;
}

.myprofile-cards__card_rating {
  color: #f8454b;
}

.myprofile-cards__card_reputation {
  color: #79b239;
}

.myprofile-cards__card_prizes {
  color: #94acc4;
}

.myprofile-cards__card_posts {
  color: #242550;
}

.myprofile-cards__other-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 35px auto 0;
}

.myprofile-cards__other-stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.myprofile-cards__other-stats-item:last-child {
  margin-right: 0;
}

.myprofile-cards__other-stats-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 8px;
}

.myprofile-cards__other-stats_likedpeople .myprofile-cards__other-stats-icon {
  background: url(../img/icons/likes-people-counter-icon.svg) 0 0/contain no-repeat;
}

.myprofile-cards__other-stats_followedpeople .myprofile-cards__other-stats-icon {
  background: url(../img/icons/followers-people-counter-icon.svg) 0 0/contain no-repeat;
}

.myprofile-cards__other-stats_coins .myprofile-cards__other-stats-icon {
  background: url(../img/icons/coins-accaunt-counter-icon.svg) 0 0/contain no-repeat;
}

.myprofile-cards__other-stats-value {
  display: inline-block;
  font-weight: 500;
  color: #21224e;
}

.myprofile-content {
  padding: 0 11px;
}

.myprofile-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.myprofile-status__input-container {
  background: #f4f7fb;
  padding: 15px 16px;
  width: 100%;
}

.myprofile-status__input {
  width: 100%;
}

.myprofile-status__save-btn {
  margin: 20px auto 40px;
}

.edit-info {
  background: #f4f7fb;
  padding: 20px 35px 25px;
  text-align: center;
}

.edit-info__title {
  font-family: ALS;
  font-size: 30px;
  font-weight: bold;
  color: #21224e;
  display: block;
  text-align: center;
  margin-bottom: 23px;
}

.edit-info__adv {
  font-weight: 500;
  color: #21224e;
  background: #f9e7ce;
}

.edit-info__form-container {
  margin-top: 26px;
}

.edit-info__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.edit-info__input-container {
  width: 45%;
  text-align: left;
}

.edit-info__input-container_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.edit-info__input-name {
  display: block;
  font-size: 12px;
  font-weight: 500;
  color: #5b5b5b;
  margin-top: 18px;
  margin-bottom: 8px;
  position: relative;
}

.edit-info__input-name_date {
  width: 100%;
}

.edit-info__star {
  color: #f8454b;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: -5px;
}

.edit-info__select {
  width: 100%;
}

.edit-info__select-container {
  position: relative;
}

.edit-info__select-container.edit-select_disabled:after {
  content: '';
  display: inline-block;
  background: url("../img/icons/select-arr_disabled.svg") 0 0/contain no-repeat;
  width: 9px;
  height: 7px;
}

.edit-info__select-container:after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: inline-block;
  background: url("../img/icons/select-arr.svg") 0 0/contain no-repeat;
  width: 9px;
  height: 7px;
}

.edit-info__select-container_day,
.edit-info__select-container_year {
  width: 25%;
}

.edit-info__select-container_month {
  width: 45%;
}

.edit-info__warning {
  margin: 30px auto 25px;
  font-weight: 500;
  color: #21224e;
  width: 80%;
}

.edit-info__link {
  color: #1e5cd6;
}

.edit-info__name-label {
  font-size: 14px;
  font-weight: 500;
  color: #64686e;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.edit-info__name-input {
  width: 100%;
  margin: 13px 0 25px;
}

.edit-info__save-btn-container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.edit-info__save-btn {
  height: 37px;
  border-radius: 18.5px;
  border: solid 1px #94acc4;
  background: transparent;
  font-weight: bold;
  color: #64686e;
  padding: 0 29px;
  text-transform: uppercase;
  font-family: CeraPRO;
  cursor: pointer;
}

.edit-info__shadow {
  width: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 37px;
  border-radius: 18.5px;
  background: #cad4e1;
  z-index: -1;
}